In [ ]:
!pip install supabase

In [ ]:
!pip install scikit-learn --user

In [1]:
import pandas as pd

In [2]:
import os
from supabase import create_client, Client

url: str = 'https://wpnzlbgymcdryffyqctu.supabase.co'
key: str = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwbnpsYmd5bWNkcnlmZnlxY3R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDYxNDUxNzEsImV4cCI6MjAyMTcyMTE3MX0.FjBDW_4N1bkrvnznEGTiOii64ObDnMLSqaWnd3G_8bg'
supabase: Client = create_client(url, key)

## Data Ingestion

In [ ]:
# Load CSV data into a DataFrame
csv_file = 'Dress Sales.csv'
df = pd.read_csv(csv_file)

# Insert the data into the 'sales' table
supabase.table('sales').upsert(df.to_dict(orient='records'))

In [3]:
# Query the data from the 'sales' table
response = supabase.table('sales').select("*").execute()
data = response.data

# Create a DataFrame
df = pd.DataFrame(data)
df

2024-01-27 23:05:32,795:INFO - HTTP Request: GET https://wpnzlbgymcdryffyqctu.supabase.co/rest/v1/sales?select=%2A "HTTP/1.1 200 OK"

,id,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,chiffon,ruffles,animal,1
1,2,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,null,ruffles,animal,0
2,3,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,null,null,print,0
3,4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,5,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,null,null,solid,1
496,497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,null,null,null,0
497,498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,null,lace,solid,1
498,499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [4]:
# Display data types of all columns

print("Data Types of All Columns:")
df.dtypes

Data Types of All Columns:

id                  int64
Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

## Data Cleaning (Missing Values)

In [5]:
# Step 1: Identify Missing Values

missing_values = df.isnull().sum()

print("Missing Values:")
missing_values

Missing Values:

id                0
Dress_ID          0
Style             0
Price             2
Rating            0
Size              0
Season            2
NeckLine          1
SleeveLength      0
waiseline         1
Material          1
FabricType        1
Decoration        1
Pattern Type      1
Recommendation    0
dtype: int64

In [6]:
# Step 2: Deal with Missing Values for Categorical Columns

categorical_columns = ['Price', 'Season', 'NeckLine', 'waiseline', 'Material', 'FabricType', 'Decoration', 'Pattern Type']

# Replace missing values in categorical columns with the mode
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

# Check for any remaining missing values
missing_values_after_imputation = df.isnull().sum()
print("Missing Values After Imputation:")

missing_values_after_imputation

Missing Values After Imputation:

id                0
Dress_ID          0
Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
waiseline         0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
dtype: int64

## Data Cleaning (Standardizing Formats for Price)

In [7]:
# Step 3: Identify Inconsistent Data Types

print("Unique values in 'Price' column:")
df['Price'].unique()

Unique values in 'Price' column:

array(['Low', 'High', 'Average', 'Medium', 'very-high', 'low', 'high'],
      dtype=object)

In [8]:
# Step 4: Convert Data Types

# Standardize Price values
price_mapping = {
    'low': 'Low',
    'high': 'High',
}

# Replace values with the standardized ones
df['Price'] = df['Price'].replace(price_mapping)

# Check the unique values after standardization
print("Unique values in 'Price' column after standardization:")
df['Price'].unique()

Unique values in 'Price' column after standardization:

array(['Low', 'High', 'Average', 'Medium', 'very-high'], dtype=object)

## Data Cleaning (Standardizing Formats for Size)

In [9]:
# Step 3: Identify Inconsistent Data Types

print("Unique values in 'Size' column:")
df['Size'].unique()

Unique values in 'Size' column:

array(['M', 'L', 'XL', 'free', 'S', 'small', 's'], dtype=object)

In [10]:
# Step 4: Convert Data Types

# Standardize Size values
size_mapping = {
    's': 'S',
    'small': 'S',
}

# Replace values with the standardized ones
df['Size'] = df['Size'].replace(size_mapping)

# Check the unique values after standardization
print("Unique values in 'Size' column after standardization:")
df['Size'].unique()

Unique values in 'Size' column after standardization:

array(['M', 'L', 'XL', 'free', 'S'], dtype=object)

## Data Cleaning (Standardizing Formats for FabricType)

In [11]:
# Step 3: Identify Inconsistent Data Types

print("Unique values in 'FabricType' column:")
df['FabricType'].unique()

Unique values in 'FabricType' column:

array(['chiffon', 'null', 'broadcloth', 'jersey', 'other', 'batik',
       'satin', 'flannael', 'worsted', 'woolen', 'poplin', 'dobby',
       'knitting', 'flannel', 'tulle', 'sattin', 'organza', 'lace',
       'Corduroy', 'wollen', 'knitted', 'shiffon', 'terry'], dtype=object)

In [12]:
# Step 4: Convert Data Types

# Standardize FabricType values
fabric_type_mapping = {
    'shiffon': 'chiffon',
    'sattin': 'satin',
    'wollen': 'woolen',
    'knitted': 'knitting',
    'flannael': 'flannel',
}

# Replace values with the standardized ones
df['FabricType'] = df['FabricType'].replace(fabric_type_mapping)

# Check the unique values after standardization
print("Unique values in 'FabricType' column after standardization:")
df['FabricType'].unique()

Unique values in 'FabricType' column after standardization:

array(['chiffon', 'null', 'broadcloth', 'jersey', 'other', 'batik',
       'satin', 'flannel', 'worsted', 'woolen', 'poplin', 'dobby',
       'knitting', 'tulle', 'organza', 'lace', 'Corduroy', 'terry'],
      dtype=object)

## Data Cleaning (Standardizing Formats for Material)

In [13]:
# Step 3: Identify Inconsistent Data Types

print("Unique values in 'Material' column:")
df['Material'].unique()

Unique values in 'Material' column:

array(['null', 'microfiber', 'polyster', 'silk', 'chiffonfabric',
       'cotton', 'nylon', 'other', 'milksilk', 'linen', 'rayon', 'lycra',
       'mix', 'acrylic', 'spandex', 'lace', 'modal', 'cashmere', 'viscos',
       'knitting', 'sill', 'wool', 'model', 'shiffon'], dtype=object)

In [14]:
# Step 4: Convert Data Types

# Standardize Material values
material_mapping = {
    'polyster': 'polyester',
    'chiffonfabric': 'chiffon',
    'milksilk': 'silk',
    'sill': 'silk',
    'shiffon': 'chiffon',
    'model': 'modal',
    'viscos': 'rayon',
}

# Replace values with the standardized ones
df['Material'] = df['Material'].replace(material_mapping)

# Check the unique values after standardization
print("Unique values in 'Material' column after standardization:")
df['Material'].unique()

Unique values in 'Material' column after standardization:

array(['null', 'microfiber', 'polyester', 'silk', 'chiffon', 'cotton',
       'nylon', 'other', 'linen', 'rayon', 'lycra', 'mix', 'acrylic',
       'spandex', 'lace', 'modal', 'cashmere', 'knitting', 'wool'],
      dtype=object)

## Data Cleaning (Standardizing Formats for Pattern Type)

In [15]:
# Step 3: Identify Inconsistent Data Types

print("Unique values in 'Pattern Type' column:")
df['Pattern Type'].unique()

Unique values in 'Pattern Type' column:

array(['animal', 'print', 'dot', 'solid', 'null', 'patchwork', 'striped',
       'geometric', 'plaid', 'leopard', 'floral', 'character', 'splice',
       'leapord', 'none'], dtype=object)

In [16]:
# Step 4: Convert Data Types

# Standardize Pattern Type values
material_mapping = {
    'leapord': 'leopard',
}

# Replace values with the standardized ones
df['Pattern Type'] = df['Pattern Type'].replace(material_mapping)

# Check the unique values after standardization
print("Unique values in 'Pattern Type' column after standardization:")
df['Pattern Type'].unique()

Unique values in 'Pattern Type' column after standardization:

array(['animal', 'print', 'dot', 'solid', 'null', 'patchwork', 'striped',
       'geometric', 'plaid', 'leopard', 'floral', 'character', 'splice',
       'none'], dtype=object)

## Data Transformation

In [17]:
price_mapping = {'Low': 1, 'Average': 2, 'Medium': 3, 'High': 4, 'very-high': 5}
df['Price'] = df['Price'].map(price_mapping)

size_mapping = {'free': 0, 'XS': 1, 'S': 2, 'M': 3, 'L': 4, 'XL': 5}
df['Size'] = df['Size'].map(size_mapping)

df_encoded = pd.get_dummies(df, columns=['Style', 'Season', 'NeckLine', 'SleeveLength', 'Material', 'waiseline', 'FabricType', 'Decoration', 'Pattern Type'])
df_encoded

,id,Dress_ID,Price,Rating,Size,Recommendation,Style_Brief,Style_Casual,Style_Flare,Style_Novelty,...,Pattern Type_geometric,Pattern Type_leopard,Pattern Type_none,Pattern Type_null,Pattern Type_patchwork,Pattern Type_plaid,Pattern Type_print,Pattern Type_solid,Pattern Type_splice,Pattern Type_striped
0,1,1006032852,1,4.6,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1212192089,1,0.0,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1190380701,4,0.0,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4,966005983,2,4.6,4,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,876339541,1,4.5,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,713391965,1,4.7,3,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
496,497,722565148,1,4.3,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
497,498,532874347,2,4.7,3,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
498,499,655464934,2,4.6,4,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
499,500,919930954,1,4.4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

## Data Aggregation

In [ ]:
# Group by relevant attributes and perform aggregation
aggregated_data = df.groupby(['Style', 'Price', 'Season']).agg({
    'Rating': ['mean', 'count'],
}).reset_index()

# Rename the aggregated columns for clarity
aggregated_data.columns = ['Style', 'Price', 'Season', 'Mean_Rating', 'Count']

# Display the aggregated data
print("Aggregated Data:")
aggregated_data

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Define features (X) and target variable (y)
X = df_encoded.drop(columns=['Recommendation'])
y = df_encoded['Recommendation']

# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
clf = RandomForestClassifier(random_state=42)

# Train the model on the training set
clf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_output = classification_report(y_test, y_pred)

# Display the results
print(f'Accuracy: {accuracy:.2f}')
print('Classification Report:\n\n', classification_report_output)