In [ ]:
!pip install numpy --upgrade
!pip install opencv-python
!pip install ghostscript
!pip install camelot-py
!pip install pdfplumber

In [1]:
def split_header(table_index, header_row):
    # Split header into its respective column
    header_elements = tables[table_index].df.iloc[header_row, 0].split()
    tables[table_index].df.iloc[header_row, :len(header_elements)] = header_elements


def fix_mode(table_index, starting_row, mode_row):
    # Split column "mode" into its respective row
    modes = tables[table_index].df.iloc[mode_row, 4].split()
    for i in range(starting_row, starting_row + len(modes) // 2):
        mode_offset = 2 * (i - starting_row)
        tables[table_index].df.iloc[i, 4] = modes[mode_offset] + modes[mode_offset + 1]


def clean_table(table_index, header_row, mode_row):
    split_header(table_index, header_row)
    starting_row = header_row + 1

    fix_mode(table_index, starting_row, mode_row)


def clean_table_two_rows_no_exam(table_index, header_row):
    split_header(table_index, header_row)
    starting_row = header_row + 1

    row1 = tables[table_index].df.iloc[starting_row, 0].split()
    tables[table_index].df.iloc[starting_row, 0] = row1[4]
    tables[table_index].df.iloc[starting_row, 1] = row1[5]
    tables[table_index].df.iloc[starting_row, 2] = row1[6] + ' ' + row1[13]
    tables[table_index].df.iloc[starting_row, 3] = row1[7] + ' ' + row1[14]
    tables[table_index].df.iloc[starting_row, 4] = row1[0] + row1[1]
    tables[table_index].df.iloc[starting_row, 5] = row1[8] + ' ' + row1[15]
    tables[table_index].df.iloc[starting_row, 6] = row1[9]
    tables[table_index].df.iloc[starting_row, 7] = ' '.join(row1[10:13])

    row2 = tables[table_index].df.iloc[starting_row + 1, 0].split()
    tables[table_index].df.iloc[starting_row + 1, 0] = row2[0]
    tables[table_index].df.iloc[starting_row + 1, 1] = row2[1]
    tables[table_index].df.iloc[starting_row + 1, 2] = row2[2] + ' ' + row2[9]
    tables[table_index].df.iloc[starting_row + 1, 3] = row2[3] + ' ' + row2[10]
    tables[table_index].df.iloc[starting_row + 1, 4] = row1[2] + row1[3]
    tables[table_index].df.iloc[starting_row + 1, 5] = row2[4] + ' ' + row2[11]
    tables[table_index].df.iloc[starting_row + 1, 6] = row2[5]
    tables[table_index].df.iloc[starting_row + 1, 7] = ' '.join(row2[6:9])


def clean_table_two_rows_has_exam1(table_index, header_row):
    split_header(table_index, header_row)
    starting_row = header_row + 1

    row1 = tables[table_index].df.iloc[starting_row, 0].split()
    tables[table_index].df.iloc[starting_row, 0] = row1[4]
    tables[table_index].df.iloc[starting_row, 1] = row1[5]
    tables[table_index].df.iloc[starting_row, 2] = row1[6] + ' ' + row1[16]
    tables[table_index].df.iloc[starting_row, 3] = row1[7] + ' ' + row1[17]
    tables[table_index].df.iloc[starting_row, 4] = row1[0] + row1[1]
    tables[table_index].df.iloc[starting_row, 5] = row1[8] + ' ' + row1[18]
    tables[table_index].df.iloc[starting_row, 6] = ' '.join(row1[9:13])
    tables[table_index].df.iloc[starting_row, 7] = ' '.join(row1[13:16])

    row2 = tables[table_index].df.iloc[starting_row + 1, 0].split()
    tables[table_index].df.iloc[starting_row + 1, 0] = row2[0]
    tables[table_index].df.iloc[starting_row + 1, 1] = row2[1]
    tables[table_index].df.iloc[starting_row + 1, 2] = row2[2] + ' ' + row2[12]
    tables[table_index].df.iloc[starting_row + 1, 3] = row2[3] + ' ' + row2[13]
    tables[table_index].df.iloc[starting_row + 1, 4] = row1[2] + row1[3]
    tables[table_index].df.iloc[starting_row + 1, 5] = row2[4] + ' ' + row2[14]
    tables[table_index].df.iloc[starting_row + 1, 6] = ' '.join(row2[5:9])
    tables[table_index].df.iloc[starting_row + 1, 7] = ' '.join(row2[9:12])


def clean_table_two_rows_has_exam2(table_index, header_row):
    split_header(table_index, header_row)
    starting_row = header_row + 1

    row1 = tables[table_index].df.iloc[starting_row, 0].split()
    tables[table_index].df.iloc[starting_row, 0] = row1[8]
    tables[table_index].df.iloc[starting_row, 1] = row1[9]
    tables[table_index].df.iloc[starting_row, 2] = row1[10] + ' ' + row1[16]
    tables[table_index].df.iloc[starting_row, 3] = row1[11] + ' ' + row1[17]
    tables[table_index].df.iloc[starting_row, 4] = row1[0] + row1[1]
    tables[table_index].df.iloc[starting_row, 5] = row1[12] + ' ' + row1[18]
    tables[table_index].df.iloc[starting_row, 6] = ' '.join(row1[4:8])
    tables[table_index].df.iloc[starting_row, 7] = ' '.join(row1[13:16])

    row2 = tables[table_index].df.iloc[starting_row + 1, 0].split()
    tables[table_index].df.iloc[starting_row + 1, 0] = row2[4]
    tables[table_index].df.iloc[starting_row + 1, 1] = row2[5]
    tables[table_index].df.iloc[starting_row + 1, 2] = row2[6] + ' ' + row2[12]
    tables[table_index].df.iloc[starting_row + 1, 3] = row2[7] + ' ' + row2[13]
    tables[table_index].df.iloc[starting_row + 1, 4] = row1[2] + row1[3]
    tables[table_index].df.iloc[starting_row + 1, 5] = row2[8] + ' ' + row2[14]
    tables[table_index].df.iloc[starting_row + 1, 6] = ' '.join(row2[0:4])
    tables[table_index].df.iloc[starting_row + 1, 7] = ' '.join(row2[9:12])


def clean_table_two_rows_has_exam3(table_index, header_row):
    starting_row = header_row + 1

    row1 = tables[table_index].df.iloc[starting_row, 0].split()
    tables[table_index].df.iloc[starting_row, 0] = row1[4]
    tables[table_index].df.iloc[starting_row, 1] = row1[6]
    tables[table_index].df.iloc[starting_row, 2] = row1[10] + ' ' + row1[16]
    tables[table_index].df.iloc[starting_row, 3] = row1[11] + ' ' + row1[17]
    tables[table_index].df.iloc[starting_row, 4] = row1[0] + row1[1]
    tables[table_index].df.iloc[starting_row, 5] = row1[12] + ' ' + row1[18]
    tables[table_index].df.iloc[starting_row, 6] = row1[5] + ' ' + row1[7] + ' ' + row1[8] + ' ' + row1[9]
    tables[table_index].df.iloc[starting_row, 7] = ' '.join(row1[13:16])

    row2 = tables[table_index].df.iloc[starting_row + 1, 0].split()
    tables[table_index].df.iloc[starting_row + 1, 0] = row2[0]
    tables[table_index].df.iloc[starting_row + 1, 1] = row2[2]
    tables[table_index].df.iloc[starting_row + 1, 2] = row2[6] + ' ' + row2[12]
    tables[table_index].df.iloc[starting_row + 1, 3] = row2[7] + ' ' + row2[13]
    tables[table_index].df.iloc[starting_row + 1, 4] = row1[2] + row1[3]
    tables[table_index].df.iloc[starting_row + 1, 5] = row2[8] + ' ' + row2[14]
    tables[table_index].df.iloc[starting_row + 1, 6] = row2[1] + ' ' + row2[3] + ' ' + row2[4] + ' ' + row2[5]
    tables[table_index].df.iloc[starting_row + 1, 7] = ' '.join(row2[9:12])

In [2]:
import camelot
tables = camelot.read_pdf('https://or.ump.edu.my/or/CourseCatalog/COURSE_CATALOG_IJA.pdf', pages='345-381', line_scale=17)

# TABLE 1 SEM I
clean_table(0, 1, 3)

# TABLE 2 SEM I
fix_mode(1, 2, 3)

# TABLE 3 SEM I
clean_table(2, 1, 10)

# TABLE 3 SEM II
clean_table(2, 20, 29)

# TABLE 4 SEM I
fix_mode(3, 2, 3)

# TABLE 5 SEM II
clean_table(4, 1, 3)

# TABLE 6 SEM I
clean_table_two_rows_no_exam(5, 1)

# TABLE 6 SEM II
clean_table(5, 5, 11)

# TABLE 7 SEM I
clean_table(6, 1, 7)

# TABLE 7 SEM II
clean_table_two_rows_has_exam1(6, 15)

# TABLE 8 SEM I
fix_mode(7, 2, 3)

# TABLE 9 SEM I
clean_table(8, 1, 6)

# TABLE 10 SEM I
fix_mode(9, 2, 4)

# TABLE 11 SEM I
clean_table(10, 1, 6)

# TABLE 12 SEM I
clean_table(11, 1, 4)

# TABLE 12 SEM II
clean_table(11, 8, 10)

# TABLE 13 SEM I
clean_table(12, 1, 4)

# TABLE 13 SEM II
clean_table(12, 9, 15)

# TABLE 14 SEM I
clean_table(13, 1, 4)

# TABLE 14 SEM II
clean_table(13, 8, 13)

# TABLE 15 SEM I
clean_table(14, 1, 3)

# TABLE 15 SEM II
clean_table(14, 7, 9)

# TABLE 16 SEM I
clean_table_two_rows_has_exam1(15, 1)

# TABLE 16 SEM II
clean_table(15, 5, 8)

# TABLE 17 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[16].df.iloc[1, :6] = tables[16].df.iloc[1, 0].split()

# Split column "mode" into its respective row
modes = tables[16].df.iloc[4, 4].split()
tables[16].df.iloc[2, 4] = modes[0]
tables[16].df.iloc[3, 4] = modes[1]
tables[16].df.iloc[4, 4] = modes[2] + modes[3]
tables[16].df.iloc[5, 4] = modes[4]
tables[16].df.iloc[6, 4] = modes[5]
tables[16].df.iloc[7, 4] = modes[6] + modes[7]

# TABLE 17 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[16].df.iloc[9, :6] = tables[16].df.iloc[9, 0].split()
tables[16].df = tables[16].df.drop(11).reset_index(drop=True)

column1 = tables[16].df.iloc[10, 0].split()
tables[16].df.iloc[10, 0:2] = column1[0:2]

tables[16].df.iloc[10, 6] = tables[16].df.iloc[10, 6][2:]
tables[16].df.iloc[11, 6] = "Y " + tables[16].df.iloc[11, 6]

column4 = tables[16].df.iloc[11, 4].split()
tables[16].df.iloc[10:13, 4] = [column4[0], column4[1] + column4[2] + column4[3], column4[4] + column4[5] + column4[6]]

# TABLE 18 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[17].df.iloc[1, :6] = tables[17].df.iloc[1, 0].split()

# Split column "mode" into its respective row
modes = tables[17].df.iloc[5, 4].split()
tables[17].df.iloc[2, 4] = modes[0] + modes[1]
tables[17].df.iloc[3, 4] = modes[2] + modes[3]
tables[17].df.iloc[4, 4] = modes[4]
tables[17].df.iloc[5, 4] = modes[5]
tables[17].df.iloc[6, 4] = modes[6] + modes[7]
tables[17].df.iloc[7, 4] = modes[8]
tables[17].df.iloc[8, 4] = modes[9]
tables[17].df.iloc[9, 4] = modes[10] + modes[11]

# TABLE 18 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[17].df.iloc[11, :6] = tables[17].df.iloc[11, 0].split()
tables[17].df = tables[17].df.drop(13).reset_index(drop=True)

row1 = tables[17].df.iloc[12, 0].split()
row2 = tables[17].df.iloc[13, 0].split()

tables[17].df.iloc[12, 0] = row1[0]
tables[17].df.iloc[12, 1] = row1[1]
tables[17].df.iloc[12, 2] = row1[2]
tables[17].df.iloc[12, 3] = row1[3]
tables[17].df.iloc[12, 4] = row2[0]
tables[17].df.iloc[12, 5] = row1[4]
tables[17].df.iloc[12, 6] = tables[17].df.iloc[12, 6][2:]

tables[17].df.iloc[13, 0] = row2[4]
tables[17].df.iloc[13, 1] = row2[5]
tables[17].df.iloc[13, 2] = row2[6] + ' ' + row2[9] + ' ' + row2[12]
tables[17].df.iloc[13, 3] = row2[7] + ' ' + row2[10] + ' ' + row2[13]
tables[17].df.iloc[13, 4] = row2[1] + ' ' + row2[2] + ' ' + row2[3]
tables[17].df.iloc[13, 5] = row2[8] + ' ' + row2[11] + ' ' + row2[14]
tables[17].df.iloc[13, 6] = "Y " + tables[17].df.iloc[13, 6]

# TABLE 19 SEM I
clean_table(18, 1, 6)

# TABLE 19 SEM II
clean_table(18, 12, 17)

# TABLE 20 SEM I
clean_table(19, 1, 4)

# TABLE 20 SEM II
clean_table(19, 9, 11)

# TABLE 21 SEM I
clean_table(20, 1, 5)

# TABLE 21 SEM II
clean_table_two_rows_no_exam(20, 11)

# TABLE 22 SEM I
clean_table(21, 1, 4)

# TABLE 22 SEM II
clean_table(21, 9, 16)

# TABLE 23 SEM I
clean_table_two_rows_no_exam(22, 1)

# TABLE 23 SEM II
clean_table(22, 5, 10)

# TABLE 24 SEM I
clean_table(23, 1, 6)

# TABLE 24 SEM II
clean_table(23, 12, 17)

# TABLE 25 SEM I
clean_table(24, 1, 4)

# TABLE 25 SEM II
clean_table(24, 8, 11)

# TABLE 26 SEM I
clean_table(25, 1, 6)

# TABLE 26 SEM II
clean_table(25, 12, 16)

# TABLE 27 SEM I
clean_table(26, 1, 4)

# TABLE 27 SEM II
clean_table(26, 8, 10)

# TABLE 28 SEM I
clean_table(27, 1, 3)

# TABLE 28 SEM II
clean_table(27, 6, 9)

# TABLE 29 SEM I
clean_table(28, 1, 3)

# TABLE 29 SEM II
clean_table(28, 6, 9)

# TABLE 30 SEM I
clean_table(29, 1, 3)

# TABLE 30 SEM II
clean_table(29, 6, 9)

# TABLE 31 SEM I
clean_table(30, 1, 4)

# TABLE 31 SEM II
fix_mode(30, 10, 11)

# TABLE 32 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[31].df.iloc[1, :6] = tables[31].df.iloc[1, 0].split()
tables[31].df = tables[31].df.drop(11).reset_index(drop=True)

# Split column "mode" into its respective row
modes = tables[31].df.iloc[4, 4].split()
tables[31].df.iloc[2, 4] = modes[0]
tables[31].df.iloc[3, 4] = modes[1]
tables[31].df.iloc[4, 4] = modes[2] + modes[3]
tables[31].df.iloc[5, 4] = modes[4]
tables[31].df.iloc[6, 4] = modes[5]
tables[31].df.iloc[7, 4] = modes[6] + modes[7]

rows = [(2, 6), (4, 6), (5, 6), (7, 6), (12, 6)]
for row, column in rows:
    split_row = tables[31].df.iloc[row, column].split()
    tables[31].df.iloc[row, column] = f"{split_row[3]} {' '.join(split_row[:3])}"

# TABLE 32 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[31].df.iloc[9, :6] = tables[31].df.iloc[9, 0].split()

column1 = tables[31].df.iloc[10, 0].split()
tables[31].df.iloc[10, 0:2] = column1[0:2][::-1]

tables[31].df.iloc[10, 6] = tables[31].df.iloc[10, 6][2:]
tables[31].df.iloc[11, 6] = "Y " + tables[31].df.iloc[11, 6]

modes = tables[31].df.iloc[11, 4].split()
tables[31].df.iloc[10:13, 4] = [modes[0], modes[1] + modes[2] + modes[3], modes[4] + modes[5] + modes[6]]

# TABLE 33 SEM I
# Split column "mode" into its respective row
modes = tables[32].df.iloc[6, 4].split()
for i in range(2, 11):
    tables[32].df.iloc[i, 4] = modes[2 * (i - 2)] + modes[2 * (i - 2) + 1]
    split_row = tables[32].df.iloc[i, 6].split()
    tables[32].df.iloc[i, 6] = f"{split_row[3]} {' '.join(split_row[:3])}"

# TABLE 33 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[32].df.iloc[12, :6] = tables[32].df.iloc[12, 0].split()

# Split column "mode" into its respective row
modes = tables[32].df.iloc[15, 4].split()
for i in range(13, 18):
    tables[32].df.iloc[i, 4] = modes[2 * (i - 13)] + modes[2 * (i - 13) + 1]
    split_row = tables[32].df.iloc[i, 6].split()
    tables[32].df.iloc[i, 6] = f"{split_row[3]} {' '.join(split_row[:3])}"

# TABLE 34 SEM I
clean_table(33, 1, 4)

# TABLE 34 SEM II
clean_table(33, 9, 11)

# TABLE 35 SEM I
clean_table(34, 1, 4)

# TABLE 35 SEM II
clean_table(34, 9, 11)

# TABLE 36 SEM I
tables[35].df = tables[35].df.reindex(columns=[*tables[35].df.columns, *range(8)])
tables[35].df = tables[35].df.iloc[:, 1:].reset_index(drop=True)
tables[35].df = tables[35].df.fillna('')

clean_table_two_rows_has_exam1(35, 1)

# TABLE 37 SEM I
clean_table(36, 1, 7)

# TABLE 37 SEM II
clean_table(36, 15, 18)

# TABLE 38 SEM I
clean_table(37, 1, 7)

# TABLE 38 SEM II
clean_table(37, 15, 19)

# TABLE 39 SEM I
tables[38].df = tables[38].df.reindex(columns=[*tables[38].df.columns, *range(8)])
tables[38].df = tables[38].df.iloc[:, 1:].reset_index(drop=True)
tables[38].df = tables[38].df.fillna('')

clean_table_two_rows_no_exam(38, 1)

# TABLE 40 SEM I
clean_table(39, 1, 3)

# TABLE 40 SEM II
clean_table(39, 7, 9)

# TABLE 41 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[40].df.iloc[1, :6] = tables[40].df.iloc[1, 0].split()

# TABLE 41 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[40].df.iloc[4, :6] = tables[40].df.iloc[4, 0].split()

# TABLE 42 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[41].df.iloc[1, :6] = tables[41].df.iloc[1, 0].split()

# TABLE 42 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[41].df.iloc[4, :6] = tables[41].df.iloc[4, 0].split()

# TABLE 43 SEM II
tables[42].df = tables[42].df.reindex(columns=[*tables[42].df.columns, *range(8)])
tables[42].df = tables[42].df.iloc[:, 1:].reset_index(drop=True)
tables[42].df = tables[42].df.fillna('')

clean_table_two_rows_no_exam(42, 1)

# TABLE 44 SEM I
tables[43].df = tables[43].df.reindex(columns=[*tables[43].df.columns, *range(8)])
tables[43].df = tables[43].df.iloc[:, 1:].reset_index(drop=True)
tables[43].df = tables[43].df.fillna('')

clean_table_two_rows_no_exam(43, 1)

# TABLE 45 SEM I
clean_table(44, 1, 3)

# TABLE 45 SEM II
clean_table(44, 6, 8)

# TABLE 46 SEM I
clean_table(45, 1, 3)

# TABLE 46 SEM II
fix_mode(45, 8, 9)

# TABLE 47 SEM I
clean_table(46, 1, 3)

# TABLE 47 SEM II
clean_table(46, 6, 8)

# TABLE 48 SEM I
clean_table(47, 1, 3)

# TABLE 48 SEM II
fix_mode(47, 8, 9)

# TABLE 49 SEM I
clean_table(48, 1, 3)

# TABLE 49 SEM II
clean_table(48, 7, 9)

# TABLE 50 SEM I
clean_table(49, 1, 3)

# TABLE 50 SEM II
fix_mode(49, 8, 9)

# TABLE 51 SEM I
tables[50].df = tables[50].df.reindex(columns=[*tables[50].df.columns, *range(8)])
tables[50].df = tables[50].df.iloc[:, 1:].reset_index(drop=True)
tables[50].df = tables[50].df.fillna('')

clean_table_two_rows_has_exam1(50, 1)

# TABLE 51 SEM II
clean_table_two_rows_has_exam1(50, 5)

# TABLE 52 SEM I
clean_table(51, 1, 3)

# TABLE 52 SEM II
clean_table_two_rows_no_exam(51, 6)

# TABLE 53 SEM I
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[52].df.iloc[1, :6] = tables[52].df.iloc[1, 0].split()

# TABLE 53 SEM II
# Split "Sec Day Time Loc Mode Cap" into its respective column
tables[52].df.iloc[4, :6] = tables[52].df.iloc[4, 0].split()

# TABLE 54 SEM I
tables[53].df = tables[53].df.reindex(columns=[*tables[53].df.columns, *range(8)])
tables[53].df = tables[53].df.iloc[:, 1:].reset_index(drop=True)
tables[53].df = tables[53].df.fillna('')

# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
tables[53].df.iloc[1, :8] = tables[53].df.iloc[1, 0].split()

clean_table_two_rows_has_exam2(53, 1)

# TABLE 55 SEM I
tables[54].df = tables[54].df.reindex(columns=[*tables[54].df.columns, *range(8)])
tables[54].df = tables[54].df.iloc[:, 1:].reset_index(drop=True)
tables[54].df = tables[54].df.fillna('')

# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
split_headers = tables[54].df.iloc[1, 0].split()
correct_order = [split_headers[1], split_headers[2], split_headers[3], split_headers[4],
                 split_headers[5], split_headers[6], split_headers[0], split_headers[7]]
tables[54].df.iloc[1, :8] = correct_order

clean_table_two_rows_has_exam2(54, 1)

# TABLE 55 SEM II
# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
split_headers = tables[54].df.iloc[5, 0].split()
correct_order = [split_headers[1], split_headers[2], split_headers[3], split_headers[4],
                 split_headers[5], split_headers[6], split_headers[0], split_headers[7]]
tables[54].df.iloc[5, :8] = correct_order

clean_table_two_rows_has_exam2(54, 5)

# TABLE 56 SEM I
clean_table(55, 1, 4)

# TABLE 56 SEM II
clean_table(55, 9, 17)

# TABLE 57 SEM I
tables[56].df = tables[56].df.drop(3).reset_index(drop=True)
tables[56].df = tables[56].df.drop(4).reset_index(drop=True)
tables[56].df = tables[56].df.drop(5).reset_index(drop=True)
tables[56].df = tables[56].df.drop(7).reset_index(drop=True)
tables[56].df = tables[56].df.drop(10).reset_index(drop=True)
tables[56].df = tables[56].df.drop(11).reset_index(drop=True)
tables[56].df = tables[56].df.drop(12).reset_index(drop=True)
tables[56].df = tables[56].df.drop(13).reset_index(drop=True)
tables[56].df = tables[56].df.drop(14).reset_index(drop=True)

tables[56].df.insert(loc=1, column='1', value="")
tables[56].df.columns = range(len(tables[56].df.columns))

for i in range(2, 7):
    split_column = tables[56].df.iloc[i, 0].split()
    tables[56].df.iloc[i, 0] = split_column[0]
    tables[56].df.iloc[i, 1] = split_column[1]

clean_table(56, 1, 4)

# TABLE 57 SEM II
split_column = tables[54].df.iloc[5, 0].split()

for i in range(9, 14):
    split_column = tables[56].df.iloc[i, 0].split()
    tables[56].df.iloc[i, 0] = split_column[0]
    tables[56].df.iloc[i, 1] = split_column[1]

clean_table(56, 8, 11)

# TABLE 58 SEM I
fix_mode(57, 2, 4)

# TABLE 58 SEM II
# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
tables[57].df.iloc[9, :8] = tables[57].df.iloc[9, 0].split()

row1 = tables[57].df.iloc[10, 0].split()
tables[57].df.iloc[10, 0] = row1[4]
tables[57].df.iloc[10, 1] = row1[6]
tables[57].df.iloc[10, 2] = row1[7] + ' ' + row1[13]
tables[57].df.iloc[10, 3] = row1[8] + ' ' + row1[14]
tables[57].df.iloc[10, 4] = row1[0] + row1[1]
tables[57].df.iloc[10, 5] = row1[9] + ' ' + row1[15]
tables[57].df.iloc[10, 6] = row1[5]
tables[57].df.iloc[10, 7] = ' '.join(row1[10:13])

row2 = tables[57].df.iloc[11, 0].split()
tables[57].df.iloc[11, 0] = row2[0]
tables[57].df.iloc[11, 1] = row2[2]
tables[57].df.iloc[11, 2] = row2[3] + ' ' + row2[9]
tables[57].df.iloc[11, 3] = row2[4] + ' ' + row2[10]
tables[57].df.iloc[11, 4] = row1[2] + row1[3]
tables[57].df.iloc[11, 5] = row2[5] + ' ' + row2[11]
tables[57].df.iloc[11, 6] = row2[1]
tables[57].df.iloc[11, 7] = ' '.join(row2[6:9])

# TABLE 59 SEM I
clean_table(58, 1, 4)

# TABLE 59 SEM II
clean_table(58, 8, 10)

# TABLE 60 SEM I
clean_table(59, 1, 3)

# TABLE 60 SEM II
# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
split_headers = tables[59].df.iloc[6, 0].split()
correct_order = [split_headers[0], split_headers[1], split_headers[2], split_headers[3],
                 split_headers[4], split_headers[5], split_headers[7], split_headers[6]]
tables[59].df.iloc[6, :8] = correct_order

row1 = tables[59].df.iloc[7, 0].split()
tables[59].df.iloc[7, 0] = row1[5]
tables[59].df.iloc[7, 1] = row1[6]
tables[59].df.iloc[7, 2] = row1[7] + ' ' + row1[13]
tables[59].df.iloc[7, 3] = row1[8] + ' ' + row1[14]
tables[59].df.iloc[7, 4] = row1[0] + row1[1]
tables[59].df.iloc[7, 5] = row1[9] + ' ' + row1[15]
tables[59].df.iloc[7, 6] = row1[4]
tables[59].df.iloc[7, 7] = ' '.join(row1[10:13])

row2 = tables[59].df.iloc[8, 0].split()
tables[59].df.iloc[8, 0] = row2[1]
tables[59].df.iloc[8, 1] = row2[2]
tables[59].df.iloc[8, 2] = row2[3] + ' ' + row2[9]
tables[59].df.iloc[8, 3] = row2[4] + ' ' + row2[10]
tables[59].df.iloc[8, 4] = row1[2] + row1[3]
tables[59].df.iloc[8, 5] = row2[5] + ' ' + row2[11]
tables[59].df.iloc[8, 6] = row2[0]
tables[59].df.iloc[8, 7] = ' '.join(row2[6:9])

# TABLE 61 SEM I
clean_table(60, 1, 3)

# TABLE 62 SEM II
tables[61].df = tables[61].df.reindex(columns=[*tables[61].df.columns, *range(8)])
tables[61].df = tables[61].df.iloc[:, 1:].reset_index(drop=True)
tables[61].df = tables[61].df.fillna('')

tables[61].df.iloc[1, :8] = tables[61].df.iloc[1, 0].split()

clean_table_two_rows_has_exam3(61, 1)

# TABLE 63 SEM I
tables[62].df = tables[62].df.reindex(columns=[*tables[62].df.columns, *range(8)])
tables[62].df = tables[62].df.iloc[:, 1:].reset_index(drop=True)
tables[62].df = tables[62].df.fillna('')

tables[62].df.iloc[1, :8] = tables[62].df.iloc[1, 0].split()

row1 = tables[62].df.iloc[2, 0].split()
tables[62].df.iloc[2, 0] = row1[8]
tables[62].df.iloc[2, 1] = row1[10]
tables[62].df.iloc[2, 2] = row1[14] + ' ' + row1[19]
tables[62].df.iloc[2, 3] = row1[15] + ' ' + row1[20]
tables[62].df.iloc[2, 4] = row1[0] + row1[1]
tables[62].df.iloc[2, 5] = row1[4] + ' ' + row1[5]
tables[62].df.iloc[2, 6] = row1[9] + ' ' + row1[11] + ' ' + row1[12] + ' ' + row1[13]
tables[62].df.iloc[2, 7] = ' '.join(row1[16:19])

row2 = tables[62].df.iloc[3, 0].split()
tables[62].df.iloc[3, 0] = row2[0]
tables[62].df.iloc[3, 1] = row2[2]
tables[62].df.iloc[3, 2] = row2[6] + ' ' + row2[11]
tables[62].df.iloc[3, 3] = row2[7] + ' ' + row2[12]
tables[62].df.iloc[3, 4] = row1[2] + row1[3]
tables[62].df.iloc[3, 5] = row1[6] + ' ' + row1[7]
tables[62].df.iloc[3, 6] = row2[1] + ' ' + row2[3] + ' ' + row2[4] + ' ' + row2[5]
tables[62].df.iloc[3, 7] = ' '.join(row2[8:11])

# TABLE 63 SEM II
# Split "Sec Day Time Loc Mode Cap Exam Staff" into its respective column
split_headers = tables[62].df.iloc[5, 0].split()
correct_order = [split_headers[0], split_headers[1], split_headers[2], split_headers[3],
                 split_headers[4], split_headers[5], split_headers[7], split_headers[6]]
tables[62].df.iloc[5, :8] = correct_order

clean_table_two_rows_has_exam3(62, 5)

# TABLE 64 SEM I
tables[63].df = tables[63].df.reindex(columns=[*tables[63].df.columns, *range(8)])
tables[63].df = tables[63].df.iloc[:, 1:].reset_index(drop=True)
tables[63].df = tables[63].df.fillna('')

split_headers = tables[63].df.iloc[1, 0].split()
correct_order = [split_headers[1], split_headers[2], split_headers[3], split_headers[4],
                 split_headers[5], split_headers[6], split_headers[0], split_headers[7]]
tables[63].df.iloc[1, :8] = correct_order

clean_table_two_rows_has_exam3(63, 1)

# TABLE 65 SEM I
fix_mode(64, 2, 3)

# TABLE 66 SEM II
tables[65].df = tables[65].df.reindex(columns=[*tables[65].df.columns, *range(8)])
tables[65].df = tables[65].df.iloc[:, 1:].reset_index(drop=True)
tables[65].df = tables[65].df.fillna('')

split_headers = tables[65].df.iloc[1, 0].split()
correct_order = [split_headers[1], split_headers[2], split_headers[3], split_headers[4],
                 split_headers[5], split_headers[6], split_headers[0], split_headers[7]]
tables[65].df.iloc[1, :8] = correct_order

clean_table_two_rows_has_exam3(65, 1)

# TABLE 67 SEM I
clean_table(66, 1, 4)

# TABLE 68 SEM II
fix_mode(67, 2, 4)

# Display all tables
for i in range(len(tables)):
    tables[i].df = tables[i].df.replace('\\n',' ', regex=True)
    display(tables[i].df)

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01G,FRI,10:00-10:50 11:00-11:50,FSK15 FSK15,BB,36 36,Y 30/01/2024 - AM,01469 - LSC
3,,THU,08:00-08:50 09:00-09:50,Z01-0004 Z01-0004,LL,36 36,,
4,02G,FRI,08:00-08:50 09:00-09:50,FSK15 FSK15,BB,36 36,Y 30/01/2024 - AM,01469 - LSC
5,,THU,08:00-08:50 09:00-09:50,Z01-0004 Z01-0004,LL,36 36,,

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01G,FRI,08:00-08:50 09:00-09:50,FSK14 FSK14,BB,36 36,Y 25/01/2024 - AM,TBA0001 - ES(
3,,TUE,08:00-08:50 09:00-09:50,Z01-0004 Z01-0004,LL,36 36,,
4,02G,FRI,10:00-10:50 11:00-11:50,FSK14 FSK14,BB,35 35,Y 25/01/2024 - AM,TBA0001 - ES(
5,,TUE,08:00-08:50 09:00-09:50,Z01-0004 Z01-0004,LL,35 35,,

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01A,WED,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,01100 - ZRBMA
3,01B,WED,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,01100 - ZRBMA
4,01G,MON,12:00-12:50 13:00-13:50,W-DK-13 W-DK-13,LL,60 60,N,01100 - ZRBMA
5,02A,THU,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,01100 - ZRBMA
6,02B,THU,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,01100 - ZRBMA
7,02G,TUE,12:00-12:50 13:00-13:50,W-DK-13 W-DK-13,LL,60 60,N,01100 - ZRBMA
8,03A,WED,14:00-14:50 15:00-15:50,ET-L-01 ET-L-01,BB,20 20,N,01985 - M'BM
9,03B,WED,14:00-14:50 15:00-15:50,ET-L-01 ET-L-01,BB,20 20,N,01985 - M'BM
10,03G,FRI,10:00-10:50 11:00-11:50,Y-DK-03 Y-DK-03,LL,40 40,N,01985 - M'BM
11,04A,FRI,10:00-10:50 11:00-11:50,ET-L-02 ET-L-02,BB,30 30,N,FP0040 - IBMA
12,04B,THU,08:00-08:50 09:00-09:50,ET-L-02 ET-L-02,BB,30 30,N,FP0040 - IBMA
13,04G,WED,08:00-08:50 09:00-09:50,Y01-0018 Y01-0018,LL,60 60,N,FP0040 - IBMA
14,06A,WED,10:00-10:50 11:00-11:50,FSK12 FSK12,BB,30 30,N,FP0040 - IBMA
15,06B,WED,10:00-10:50 11:00-11:50,FSK12 FSK12,BB,30 30,N,FP0040 - IBMA
16,06G,MON,10:00-10:50 11:00-11:50,Y01-1010 Y01-1010,LL,60 60,N,FP0040 - IBMA
17,07A,TUE,14:00-14:50 15:00-15:50,ETIM-L-01 ETIM-L-01,BB,30 30,N,01985 - M'BM
18,07G,WED,08:00-08:50 09:00-09:50,ETIM-L-01 ETIM-L-01,LL,30 30,N,01985 - M'BM
19,Semester II Academic Session 2023/2024,,,,,,,
20,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
21,01A,WED,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,FP0040 - IBMA
22,01B,WED,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,FP0040 - IBMA
23,01G,MON,12:00-12:50 13:00-13:50,W-DK-13 W-DK-13,LL,60 60,N,FP0040 - IBMA
24,02A,THU,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,FP0040 - IBMA
25,02B,THU,12:00-12:50 13:00-13:50,FKPPT- L- 01B FKPPT- L- 01B,BB,30 30,N,FP0040 - IBMA
26,02G,TUE,12:00-12:50 13:00-13:50,W-DK-13 W-DK-13,LL,60 60,N,FP0040 - IBMA
27,04A,THU,14:00-14:50 15:00-15:50,ET-L-01 ET-L-01,BB,30 30,N,01100 - ZRBMA
28,04G,TUE,14:00-14:50 15:00-15:50,ET-L-01 ET-L-01,LL,30 30,N,01100 - ZRBMA
29,05A,THU,16:00-16:50 17:00-17:50,FTA16L FTA16L,BB,30 30,N,01469 - LSC
30,05B,THU,16:00-16:50 17:00-17:50,FTA16L FTA16L,BB,30 30,N,01469 - LSC
31,05G,TUE,16:00-16:50 17:00-17:50,W-DKU-K-01 W-DKU-K-01,LL,60 60,N,01469 - LSC
32,06A,THU,08:00-08:50 09:00-09:50,ET-L-02 ET-L-02,BB,30 30,N,01469 - LSC
33,06B,THU,08:00-08:50 09:00-09:50,ET-L-02 ET-L-02,BB,30 30,N,01469 - LSC
34,06G,MON,10:00-10:50 11:00-11:50,Y01-1010 Y01-1010,LL,60 60,N,01469 - LSC
35,07A,WED,14:00-14:50 15:00-15:50,FKASA11B FKASA11B,BB,30 30,N,0544 - JBS
36,07G,MON,14:00-14:50 15:00-15:50,FKASA11A FKASA11A,LL,30 30,N,0544 - JBS
37,08A,THU,12:00-12:50 13:00-13:50,FKASA11A FKASA11A,BB,30 30,N,0544 - JBS

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01G,MON,10:00-10:50 11:00-11:50,Z01-0003 Z01-0003,LL,35 35,Y 25/01/2024 - AM,01918 - YBMN
3,,TUE,08:00-08:50 09:00-09:50,FSK14 FSK14,BB,35 35,,
4,02G,MON,10:00-10:50 11:00-11:50,Z01-0003 Z01-0003,LL,30 30,Y 25/01/2024 - AM,01918 - YBMN
5,,TUE,12:00-12:50 13:00-13:50,FSK14 FSK14,BB,30 30,,

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01G,THU,10:00-10:50 11:00-11:50,FSK14 FSK14,BB,35 35,Y 27/06/2024 - AM,01918 - YBMN
3,,WED,10:00-10:50 11:00-11:50,Z01-0003 Z01-0003,LL,35 35,,
4,02G,THU,14:00-14:50 15:00-15:50,FSK14 FSK14,BB,35 35,Y 27/06/2024 - AM,01918 - YBMN
5,,WED,10:00-10:50 11:00-11:50,Z01-0003 Z01-0003,LL,35 35,,

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,10:00-10:50 11:00-11:50,BZ-02-100 BZ-02-100,LL,30 30,Y,01657 - ZBM
3,01A,MON,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,30 30,Y,01657 - ZBM
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,MON,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 27/06/2024 - AM,01746 - MABI
7,01A,FRI,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01746 - MABI
8,01B,FRI,08:00-08:50 09:00-09:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01746 - MABI
9,02,TUE,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 27/06/2024 - AM,01746 - MABI
10,02A,MON,16:00-16:50 17:00-17:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01746 - MABI
11,02B,MON,14:00-14:50 15:00-15:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01746 - MABI
12,03,FRI,10:00-10:50 11:00-11:50,BZ-01-121 BZ-01-121,LL,60 60,Y 27/06/2024 - AM,01469 - LSC
13,03A,MON,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01469 - LSC
14,03B,TUE,12:00-12:50 13:00-13:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01469 - LSC
15,04,MON,16:00-16:50 17:00-17:50,BZ-02-100 BZ-02-100,LL,60 60,Y 27/06/2024 - AM,01469 - LSC
16,04A,TUE,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01469 - LSC
17,04B,THU,12:00-12:50 13:00-13:50,BZ-03-083 BZ-03-083,BB,30 30,Y 27/06/2024 - AM,01469 - LSC

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,08:00-08:50 09:00-09:50,BZ-02-096 BZ-02-096,LL,62 62,Y 25/01/2024 - AM,S1287 - NAFBZ
3,01A,WED,08:00-08:50 09:00-09:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,S1287 - NAFBZ
4,01B,WED,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,S1287 - NAFBZ
5,02,TUE,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,62 62,Y 25/01/2024 - AM,01866 - SBM@A
6,02A,THU,08:00-08:50 09:00-09:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01866 - SBM@A
7,02B,THU,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01866 - SBM@A
8,03,TUE,14:00-14:50 15:00-15:50,BZ-02-105 BZ-02-105,LL,62 62,Y 25/01/2024 - AM,01866 - SBM@A
9,03A,THU,14:00-14:50 15:00-15:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01866 - SBM@A
10,03B,THU,16:00-16:50 17:00-17:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01866 - SBM@A
11,04,THU,08:00-08:50 09:00-09:50,BZ-01-121 BZ-01-121,LL,62 62,Y 25/01/2024 - AM,01657 - ZBM
12,04A,TUE,08:00-08:50 09:00-09:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01657 - ZBM
13,04B,TUE,10:00-10:50 11:00-11:50,BZ-03-083 BZ-03-083,BB,31 31,Y 25/01/2024 - AM,01657 - ZBM
14,Semester II Academic Session 2023/2024,,,,,,,
15,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
16,01,MON,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,30 30,Y 27/06/2024 - AM,0550 - ABR
17,01A,FRI,10:00-10:50 11:00-11:50,BZ-01-100 BZ-01-100,BB,30 30,Y 27/06/2024 - AM,0550 - ABR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,60 60,N,01178 - SNBI
3,01A,MON,10:00-10:50 11:00-11:50,BZ-02-050 BZ-02-050,BB,30 30,N,01178 - SNBI
4,01B,THU,12:00-12:50 13:00-13:50,BZ-02-050 BZ-02-050,BB,30 30,N,01178 - SNBI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,10:00-10:50 11:00-11:50,BZ-02-104 BZ-02-104,LL,90 90,Y 26/01/2024 - AM,01993 - ABAR
3,01A,THU,08:00-08:50 09:00-09:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01993 - ABAR
4,01B,THU,10:00-10:50 11:00-11:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01993 - ABAR
5,01C,FRI,10:00-10:50 11:00-11:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01993 - ABAR
6,02,TUE,14:00-14:50 15:00-15:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/01/2024 - AM,01852 - NSNBI
7,02A,THU,14:00-14:50 15:00-15:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01852 - NSNBI
8,02B,THU,16:00-16:50 17:00-17:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01852 - NSNBI
9,03,WED,12:00-12:50 13:00-13:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/01/2024 - AM,01852 - NSNBI
10,03A,MON,12:00-12:50 13:00-13:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01852 - NSNBI
11,03B,MON,14:00-14:50 15:00-15:50,BZ-02-062 BZ-02-062,BB,30 30,Y 26/01/2024 - AM,01852 - NSNBI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,12:00-12:50 13:00-13:50,BZ-02-065 BZ-02-065,LL,33 33,N,01194 - ZBD
3,01A,WED,12:00-12:50 13:00-13:50,BZ-02-065 BZ-02-065,BB,33 33,N,01194 - ZBD
4,02,TUE,12:00-12:50 13:00-13:50,BZ-02-065 BZ-02-065,LL,33 33,N,01194 - ZBD
5,02A,THU,12:00-12:50 13:00-13:50,BZ-02-065 BZ-02-065,BB,33 33,N,01194 - ZBD
6,03,TUE,08:00-08:50 09:00-09:50,BZ-02-065 BZ-02-065,LL,33 33,N,01194 - ZBD
7,03A,THU,08:00-08:50 09:00-09:50,BZ-02-065 BZ-02-065,BB,33 33,N,01194 - ZBD

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-01-121 BZ-01-121,LL,30 30,Y 02/07/2024 - AM,01982 - ZBI
3,01B,TUE,16:00-16:50 17:00-17:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,01982 - ZBI
4,02,THU,08:00-08:50 09:00-09:50,BZ-01-121 BZ-01-121,LL,60 60,Y 02/07/2024 - AM,TBA0001 - ES(
5,02A,THU,14:00-14:50 15:00-15:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,TBA0001 - ES(
6,02B,THU,16:00-16:50 17:00-17:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,TBA0001 - ES(
7,03,MON,14:00-14:50 15:00-15:50,BZ-02-106 BZ-02-106,LL,60 60,Y 02/07/2024 - AM,01982 - ZBI
8,03A,TUE,08:00-08:50 09:00-09:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,TBA0001 - ES(
9,03B,TUE,10:00-10:50 11:00-11:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,TBA0001 - ES(
10,04,WED,08:00-08:50 09:00-09:50,BZ-01-121 BZ-01-121,LL,30 30,Y 02/07/2024 - AM,01982 - ZBI
11,04A,TUE,14:00-14:50 15:00-15:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,01982 - ZBI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,120 120,Y 29/01/2024 - AM,0549 - FBZ
3,01A,MON,10:00-10:50 11:00-11:50,BZ-01-092 BZ-01-092,TT,30 30,Y 29/01/2024 - AM,0549 - FBZ
4,01B,MON,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,TT,30 30,Y 29/01/2024 - AM,0549 - FBZ
5,01C,WED,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,TT,30 30,Y 29/01/2024 - AM,0549 - FBZ
6,01D,TUE,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,TT,30 30,Y 29/01/2024 - AM,0549 - FBZ
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,WED,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,90 90,Y 03/07/2024 - AM,0549 - FBZ
10,01A,TUE,16:00-16:50 17:00-17:50,BZ-01-092 BZ-01-092,TT,30 30,Y 03/07/2024 - AM,0549 - FBZ
11,01B,TUE,14:00-14:50 15:00-15:50,BZ-01-092 BZ-01-092,TT,30 30,Y 03/07/2024 - AM,0549 - FBZ
12,01C,THU,14:00-14:50 15:00-15:50,BZ-01-092 BZ-01-092,TT,30 30,Y 03/07/2024 - AM,0549 - FBZ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,14:00-14:50 15:00-15:50,BZ-01-124 BZ-01-124,LL,50 50,Y 30/01/2024 - PM,01980 - NHBI
3,01A,TUE,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,20 20,Y 30/01/2024 - PM,01980 - NHBI
4,01B,TUE,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,Y 30/01/2024 - PM,01980 - NHBI
5,02,THU,14:00-14:50 15:00-15:50,BZ-01-124 BZ-01-124,LL,40 40,Y 30/01/2024 - PM,0044 - RBAB
6,02A,THU,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,14 14,Y 30/01/2024 - PM,01980 - NHBI
7,02B,THU,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,26 26,Y 30/01/2024 - PM,01980 - NHBI
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,THU,10:00-10:50 11:00-11:50,BZ-02-100 BZ-02-100,LL,60 60,Y 26/06/2024 - PM,0043 - MBAM
11,01A,THU,14:00-14:50 15:00-15:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,0043 - MBAM
12,01B,THU,16:00-16:50 17:00-17:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,0043 - MBAM
13,02,FRI,08:00-08:50 09:00-09:50,BZ-02-100 BZ-02-100,LL,60 60,Y 26/06/2024 - PM,01443 - MIBUO
14,02A,MON,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,01443 - MIBUO
15,02B,MON,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,01443 - MIBUO
16,03,MON,14:00-14:50 15:00-15:50,BZ-02-100 BZ-02-100,LL,60 60,Y 26/06/2024 - PM,0043 - MBAM
17,03A,TUE,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - PM,TBA0001 - ES(
18,03B,TUE,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - PM,TBA0001 - ES(
19,04,TUE,14:00-14:50 15:00-15:50,BZ-02-100 BZ-02-100,LL,60 60,Y 26/06/2024 - PM,01980 - NHBI
20,04A,WED,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - PM,01980 - NHBI
21,04B,WED,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - PM,0043 - MBAM

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,16:00-16:50 17:00-17:50,BZ-01-121 BZ-01-121,LL,60 60,Y 30/01/2024 - AM,01805 - NABS
3,01A,TUE,10:00-10:50 11:00-11:50,BZ-03-089 BZ-03-089,BB,30 30,Y 30/01/2024 - AM,01805 - NABS
4,01B,THU,12:00-12:50 13:00-13:50,BZ-03-089 BZ-03-089,BB,30 30,Y 30/01/2024 - AM,01805 - NABS
5,02,MON,16:00-16:50 17:00-17:50,BZ-01-121 BZ-01-121,LL,30 30,Y 30/01/2024 - AM,01805 - NABS
6,02A,THU,10:00-10:50 11:00-11:50,BZ-03-089 BZ-03-089,BB,30 30,Y 30/01/2024 - AM,01805 - NABS
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,MON,16:00-16:50 17:00-17:50,BZ-01-124 BZ-01-124,LL,60 60,Y 01/07/2024 - AM,0120 - NBA
10,01A,TUE,10:00-10:50 11:00-11:50,BZ-03-089 BZ-03-089,BB,30 30,Y 01/07/2024 - AM,0120 - NBA
11,01B,THU,12:00-12:50 13:00-13:50,BZ-03-089 BZ-03-089,BB,30 30,Y 01/07/2024 - AM,0120 - NBA
12,02,THU,16:00-16:50 17:00-17:50,BZ-01-124 BZ-01-124,LL,60 60,Y 01/07/2024 - AM,01805 - NABS
13,02A,THU,10:00-10:50 11:00-11:50,BZ-03-089 BZ-03-089,BB,30 30,Y 01/07/2024 - AM,01805 - NABS
14,02B,MON,12:00-12:50 13:00-13:50,BZ-03-089 BZ-03-089,BB,30 30,Y 01/07/2024 - AM,01805 - NABS
15,03,WED,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,60 60,Y 01/07/2024 - AM,0120 - NBA
16,03A,TUE,14:00-14:50 15:00-15:50,BZ-03-089 BZ-03-089,BB,30 30,Y 01/07/2024 - AM,0120 - NBA
17,03B,TUE,16:00-16:50 17:00-17:50,BZ-03-089 BZ-03-089,BB,21 21,Y 01/07/2024 - AM,0120 - NBA

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,75 75,Y 29/01/2024 - PM,01444 - ASBL
3,01A,MON,10:00-10:50 11:00-11:50,BZ-02-049 BZ-02-049,BB,30 30,Y 29/01/2024 - PM,0374 - SBA
4,01B,TUE,12:00-12:50 13:00-13:50,BZ-02-049 BZ-02-049,BB,30 30,Y 29/01/2024 - PM,0374 - SBA
5,01C,WED,10:00-10:50 11:00-11:50,BZ-02-049 BZ-02-049,BB,15 15,Y 29/01/2024 - PM,0881 - BBY
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,FRI,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,75 75,Y 28/06/2024 - PM,0374 - SBA
9,01A,MON,10:00-10:50 11:00-11:50,BZ-01-066 BZ-01-066,BB,25 25,Y 28/06/2024 - PM,0374 - SBA
10,01B,TUE,12:00-12:50 13:00-13:50,BZ-01-066 BZ-01-066,BB,25 25,Y 28/06/2024 - PM,0374 - SBA
11,01C,WED,12:00-12:50 13:00-13:50,BZ-01-066 BZ-01-066,BB,25 25,Y 28/06/2024 - PM,0374 - SBA

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,30 30,Y 30/01/2024 - PM,0059 - MRBR
3,01A,WED,10:00-10:50 11:00-11:50,BZ-02-059 BZ-02-059,BB,30 30,Y 30/01/2024 - PM,0059 - MRBR
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,WED,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 28/06/2024 - AM,01679 - SFBK
7,01A,TUE,16:00-16:50 17:00-17:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - AM,01679 - SFBK
8,01B,TUE,14:00-14:50 15:00-15:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - AM,01679 - SFBK
9,02,MON,14:00-14:50 15:00-15:50,BZ-02-096 BZ-02-096,LL,60 60,Y 28/06/2024 - AM,01990 - HWS
10,02A,TUE,08:00-08:50 09:00-09:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - AM,0882 - RNBR
11,02B,TUE,10:00-10:50 11:00-11:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - AM,0882 - RNBR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,12:00-12:50,BZ-02-106,L,30,Y 31/01/2024 - AM,0059 - MRBR
3,,THU,13:00-13:50,BZ-01-079,L,30,,
4,01A,THU,14:00-14:50 15:00-15:50,BZ-01-079 BZ-01-079,BB,30 30,Y 31/01/2024 - AM,0059 - MRBR
5,02,MON,12:00-12:50,BZ-02-106,L,30,Y 31/01/2024 - AM,0059 - MRBR
6,,THU,08:00-08:50,BZ-01-079,L,30,,
7,02A,THU,09:00-09:50 10:00-10:50,BZ-01-079 BZ-01-079,BB,30 30,Y 31/01/2024 - AM,0059 - MRBR
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,MON,12:00-12:50,BZ-02-105,L,60,Y 02/07/2024 - PM,0059 - MRBR
11,01A,THU,14:00-14:50 15:00-15:50 16:00-16:50,BZ-02-059 BZ-02-059 BZ-02-059,BBB,30 30 30,Y 02/07/2024 - PM,0059 - MRBR
12,01B,THU,08:00-08:50 09:00-09:50 10:00-10:50,BZ-02-059 BZ-02-059 BZ-02-059,BBB,30 30 30,Y 02/07/2024 - PM,0059 - MRBR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,08:00-08:50 14:00-14:50,BZ-02-059 BZ-02-100,LL,30 30,Y 06/02/2024 - PM,0882 - RNBR
3,01A,THU,09:00-09:50 10:00-10:50,BZ-02-059 BZ-02-059,BB,30 30,Y 06/02/2024 - PM,0882 - RNBR
4,03,THU,15:00-15:50,BZ-02-100,L,30,Y 06/02/2024 - PM,0882 - RNBR
5,,WED,12:00-12:50,BZ-01-079,L,30,,
6,03A,WED,13:00-13:50 14:00-14:50,BZ-01-079 BZ-01-079,BB,30 30,Y 06/02/2024 - PM,0882 - RNBR
7,04,MON,12:00-12:50,BZ-01-079,L,30,Y 06/02/2024 - PM,0882 - RNBR
8,,THU,15:00-15:50,BZ-02-100,L,30,,
9,04A,MON,13:00-13:50 14:00-14:50,BZ-01-079 BZ-01-079,BB,30 30,Y 06/02/2024 - PM,0882 - RNBR
10,Semester II Academic Session 2023/2024,,,,,,,
11,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
12,01,MON,12:00-12:50,BZ-02-100,L,30,Y 28/06/2024 - PM,0882 - RNBR
13,01A,THU,12:00-12:50 13:00-13:50 14:00-14:50,BZ-01-079 BZ-01-079 BZ-01-079,B B B,30 30 30,Y 28/06/2024 - PM,0882 - RNBR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 26/01/2024 - PM,01195 - MHBMH
3,01A,THU,16:00-16:50 17:00-17:50,BZ-03-093 BZ-03-093,BB,30 30,Y 26/01/2024 - PM,01195 - MHBMH
4,01B,THU,14:00-14:50 15:00-15:50,BZ-03-093 BZ-03-093,BB,30 30,Y 26/01/2024 - PM,01195 - MHBMH
5,03,MON,14:00-14:50 15:00-15:50,BZ-02-096 BZ-02-096,LL,60 60,Y 26/01/2024 - PM,01195 - MHBMH
6,03A,TUE,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/01/2024 - PM,01195 - MHBMH
7,03B,TUE,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 26/01/2024 - PM,0867 - KBAR
8,04,THU,14:00-14:50 15:00-15:50,BZ-02-096 BZ-02-096,LL,60 60,Y 26/01/2024 - PM,0867 - KBAR
9,04A,THU,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/01/2024 - PM,0867 - KBAR
10,04B,THU,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 26/01/2024 - PM,0867 - KBAR
11,Semester II Academic Session 2023/2024,,,,,,,
12,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
13,01,MON,14:00-14:50 15:00-15:50,BZ-01-124 BZ-01-124,LL,60 60,Y 27/06/2024 - PM,02016 - AMBJ
14,01A,TUE,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,02016 - AMBJ
15,01B,TUE,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,02016 - AMBJ
16,02,THU,14:00-14:50 15:00-15:50,BZ-01-124 BZ-01-124,LL,60 60,Y 27/06/2024 - PM,02016 - AMBJ
17,02A,THU,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,FP0037 - SNBR
18,02B,THU,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,FP0037 - SNBR
19,03,TUE,14:00-14:50 15:00-15:50,BZ-02-096 BZ-02-096,LL,60 60,Y 27/06/2024 - PM,FP0037 - SNBR
20,03A,WED,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,FP0037 - SNBR
21,03B,TUE,16:00-16:50 17:00-17:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,FP0037 - SNBR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,16:00-16:50 17:00-17:50,BZ-02-096 BZ-02-096,LL,60 60,Y 06/02/2024 - AM,0027 - ZBM
3,01A,TUE,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,Y 06/02/2024 - AM,0027 - ZBM
4,01B,THU,12:00-12:50 13:00-13:50,BZ-04-068 BZ-04-068,BB,30 30,Y 06/02/2024 - AM,0027 - ZBM
5,02,TUE,16:00-16:50 17:00-17:50,BZ-02-096 BZ-02-096,LL,60 60,Y 06/02/2024 - AM,0027 - ZBM
6,02A,WED,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,Y 06/02/2024 - AM,0027 - ZBM
7,02B,WED,12:00-12:50 13:00-13:50,BZ-04-068 BZ-04-068,BB,30 30,Y 06/02/2024 - AM,0027 - ZBM
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,TUE,08:00-08:50 09:00-09:50,BZ-02-100 BZ-02-100,LL,60 60,Y 09/07/2024 - PM,0027 - ZBM
11,01A,MON,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,BB,30 30,Y 09/07/2024 - PM,0027 - ZBM
12,01B,MON,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,Y 09/07/2024 - PM,0027 - ZBM

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,LL,30 30,N,0063 - ABA
3,01A,FRI,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,30 30,N,0063 - ABA
4,02,MON,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,LL,30 30,N,01147 - KSBKI
5,02A,MON,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,N,01147 - KSBKI
6,03,WED,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,LL,30 30,N,0063 - ABA
7,03A,WED,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,30 30,N,0063 - ABA
8,04,MON,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,LL,30 30,N,0063 - ABA
9,04A,TUE,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,30 30,N,01147 - KSBKI
10,Semester II Academic Session 2023/2024,,,,,,,
11,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
12,01,WED,12:00-12:50 13:00-13:50,BZ-02-090 BZ-02-090,LL,30 30,N,0044 - RBAB
13,01A,TUE,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,N,0044 - RBAB

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,60 60,Y 02/02/2024 - PM,0595 - ASBF
3,01A,THU,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 02/02/2024 - PM,01953 - NSBK
4,01B,THU,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 02/02/2024 - PM,01953 - NSBK
5,02,TUE,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,60 60,Y 02/02/2024 - PM,01953 - NSBK
6,02A,WED,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,29 29,Y 02/02/2024 - PM,01953 - NSBK
7,02B,WED,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,25 25,Y 02/02/2024 - PM,01953 - NSBK
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,MON,12:00-12:50 13:00-13:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/06/2024 - AM,01891 - AFBMR
11,01A,THU,12:00-12:50 13:00-13:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - AM,01891 - AFBMR
12,01B,THU,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - AM,01891 - AFBMR
13,02,TUE,12:00-12:50 13:00-13:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/06/2024 - AM,01953 - NSBK
14,02A,WED,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,01953 - NSBK
15,02B,WED,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,01953 - NSBK
16,03,MON,16:00-16:50 17:00-17:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/06/2024 - AM,0595 - ASBF
17,03A,TUE,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,0595 - ASBF
18,03B,THU,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,0595 - ASBF
19,04,TUE,16:00-16:50 17:00-17:50,BZ-02-106 BZ-02-106,LL,60 60,Y 26/06/2024 - AM,01195 - MHBMH
20,04A,WED,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,01195 - MHBMH
21,04B,WED,12:00-12:50 13:00-13:50,BZ-04-068 BZ-04-068,BB,30 30,Y 26/06/2024 - AM,01195 - MHBMH
22,05,THU,16:00-16:50 17:00-17:50,BZ-02-106 BZ-02-106,LL,30 30,Y 26/06/2024 - AM,01195 - MHBMH
23,05A,THU,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - AM,01953 - NSBK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,30 30,N,01770 - ABMA
3,01A,TUE,12:00-12:50 13:00-13:50,BZ-02-090 BZ-02-090,BB,30 30,N,01770 - ABMA
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,FRI,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,LL,30 30,N,0063 - ABA
7,01A,FRI,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,N,0063 - ABA
8,02,MON,14:00-14:50 15:00-15:50,BZ-04-068 BZ-04-068,LL,30 30,N,0025 - RBM
9,02A,MON,16:00-16:50 17:00-17:50,BZ-04-068 BZ-04-068,BB,30 30,N,0025 - RBM
10,03,TUE,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,LL,30 30,N,01147 - KSBKI
11,03A,TUE,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,N,01147 - KSBKI
12,04,THU,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,LL,30 30,N,01147 - KSBKI
13,04A,THU,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,N,01147 - KSBKI
14,05,MON,08:00-08:50 09:00-09:50,BZ-04-068 BZ-04-068,LL,30 30,N,0063 - ABA
15,05A,MON,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,N,0063 - ABA

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 25/01/2024 - PM,0132 - MABM@H
3,01A,FRI,10:00-10:50 11:00-11:50,BZ-04-085 BZ-04-085,BB,30 30,Y 25/01/2024 - PM,0132 - MABM@H
4,01B,FRI,08:00-08:50 09:00-09:50,BZ-04-085 BZ-04-085,BB,30 30,Y 25/01/2024 - PM,0132 - MABM@H
5,02,TUE,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 25/01/2024 - PM,0132 - MABM@H
6,02A,MON,16:00-16:50 17:00-17:50,BZ-04-085 BZ-04-085,BB,30 30,Y 25/01/2024 - PM,0132 - MABM@H
7,02B,MON,14:00-14:50 15:00-15:50,BZ-01-100 BZ-01-100,BB,30 30,Y 25/01/2024 - PM,0132 - MABM@H
8,03,WED,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 25/01/2024 - PM,01802 - AFBAN
9,03A,TUE,16:00-16:50 17:00-17:50,BZ-04-085 BZ-04-085,BB,30 30,Y 25/01/2024 - PM,01802 - AFBAN
10,03B,TUE,14:00-14:50 15:00-15:50,BZ-02-086 BZ-02-086,BB,30 30,Y 25/01/2024 - PM,01802 - AFBAN
11,Semester II Academic Session 2023/2024,,,,,,,
12,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
13,01,MON,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,Y 27/06/2024 - AM,0132 - MABM@H
14,01A,FRI,10:00-10:50 11:00-11:50,BZ-04-085 BZ-04-085,BB,30 30,Y 27/06/2024 - AM,0132 - MABM@H
15,01B,FRI,08:00-08:50 09:00-09:50,BZ-04-085 BZ-04-085,BB,30 30,Y 27/06/2024 - AM,0132 - MABM@H
16,02,TUE,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,Y 27/06/2024 - AM,01802 - AFBAN
17,02A,MON,16:00-16:50 17:00-17:50,BZ-04-077 BZ-04-077,BB,30 30,Y 27/06/2024 - AM,01802 - AFBAN
18,02B,MON,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 27/06/2024 - AM,01802 - AFBAN
19,03,WED,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,Y 27/06/2024 - AM,0132 - MABM@H
20,03A,TUE,16:00-16:50 17:00-17:50,BZ-04-077 BZ-04-077,BB,30 30,Y 27/06/2024 - AM,0132 - MABM@H
21,03B,TUE,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 27/06/2024 - AM,0132 - MABM@H

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-02-105 BZ-02-105,LL,60 60,N,01862 - DNAEP
3,01A,TUE,14:00-14:50 15:00-15:50,BZ-03-051 BZ-03-051,BB,30 30,N,01862 - DNAEP
4,01B,TUE,16:00-16:50 17:00-17:50,BZ-03-051 BZ-03-051,BB,30 30,N,01862 - DNAEP
5,02,FRI,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,30 30,N,01842 - NSABZ
6,02A,MON,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,BB,30 30,N,01842 - NSABZ
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,THU,12:00-12:50 13:00-13:50,BZ-02-100 BZ-02-100,LL,60 60,N,01862 - DNAEP
10,01A,MON,12:00-12:50 13:00-13:50,BZ-03-051 BZ-03-051,BB,30 30,N,01862 - DNAEP
11,01B,MON,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,BB,30 30,N,01862 - DNAEP
12,02,WED,12:00-12:50 13:00-13:50,BZ-02-100 BZ-02-100,LL,30 30,N,01842 - NSABZ
13,02A,TUE,12:00-12:50 13:00-13:50,BZ-03-051 BZ-03-051,BB,30 30,N,01842 - NSABZ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,08:00-08:50 09:00-09:50,BZ-01-121 BZ-01-121,LL,60 60,Y 30/01/2024 - AM,0161 - ABMS
3,01A,FRI,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0161 - ABMS
4,01B,FRI,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0161 - ABMS
5,02,TUE,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,60 60,Y 30/01/2024 - AM,0161 - ABMS
6,02A,MON,14:00-14:50 15:00-15:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0161 - ABMS
7,02B,MON,16:00-16:50 17:00-17:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0161 - ABMS
8,03,FRI,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,60 60,Y 30/01/2024 - AM,0153 - N@KBMN
9,03A,MON,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0153 - N@KBMN
10,03B,MON,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 30/01/2024 - AM,0161 - ABMS
11,Semester II Academic Session 2023/2024,,,,,,,
12,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
13,01,MON,08:00-08:50 09:00-09:50,BZ-02-096 BZ-02-096,LL,60 60,Y 28/06/2024 - AM,01309 - WNBWM
14,01A,FRI,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 28/06/2024 - AM,01309 - WNBWM
15,01B,FRI,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 28/06/2024 - AM,01309 - WNBWM
16,02,TUE,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,60 60,Y 28/06/2024 - AM,01367 - SABMS
17,02A,MON,14:00-14:50 15:00-15:50,BZ-03-064 BZ-03-064,BB,30 30,Y 28/06/2024 - AM,01367 - SABMS
18,02B,MON,16:00-16:50 17:00-17:50,BZ-03-064 BZ-03-064,BB,30 30,Y 28/06/2024 - AM,01898 - SBIH
19,03,FRI,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,30 30,Y 28/06/2024 - AM,01982 - ZBI
20,03B,MON,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 28/06/2024 - AM,01982 - ZBI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-02-101 BZ-02-101,LL,30 30,Y 30/01/2024 - PM,01367 - SABMS
3,01A,MON,10:00-10:50 11:00-11:50,BZ-04-056 BZ-04-056,BB,30 30,Y 30/01/2024 - PM,01367 - SABMS
4,02,TUE,10:00-10:50 11:00-11:50,BZ-02-101 BZ-02-101,LL,60 60,Y 30/01/2024 - PM,01367 - SABMS
5,02A,MON,16:00-16:50 17:00-17:50,BZ-04-056 BZ-04-056,BB,30 30,Y 30/01/2024 - PM,01367 - SABMS
6,02B,MON,14:00-14:50 15:00-15:50,BZ-04-056 BZ-04-056,BB,30 30,Y 30/01/2024 - PM,01367 - SABMS
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,FRI,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 05/07/2024 - PM,01367 - SABMS
10,01A,MON,10:00-10:50 11:00-11:50,BZ-04-056 BZ-04-056,BB,30 30,Y 05/07/2024 - PM,01367 - SABMS
11,01B,TUE,12:00-12:50 13:00-13:50,BZ-04-056 BZ-04-056,BB,30 30,Y 05/07/2024 - PM,01367 - SABMS

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,12:00-12:50 13:00-13:50,BZ-02-106 BZ-02-106,LL,60 60,Y 05/02/2024 - PM,01990 - HWS
3,01A,WED,12:00-12:50 13:00-13:50,BZ-03-069 BZ-03-069,BB,30 30,Y 05/02/2024 - PM,01990 - HWS
4,01B,WED,08:00-08:50 09:00-09:50,BZ-03-069 BZ-03-069,BB,30 30,Y 05/02/2024 - PM,01990 - HWS
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,FRI,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,Y 28/06/2024 - PM,01919 - SBAB
8,01A,MON,10:00-10:50 11:00-11:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - PM,S1286 - MR
9,01B,TUE,12:00-12:50 13:00-13:50,BZ-02-059 BZ-02-059,BB,30 30,Y 28/06/2024 - PM,01919 - SBAB
10,02,MON,16:00-16:50 17:00-17:50,BZ-01-127 BZ-01-127,LL,60 60,Y 28/06/2024 - PM,01919 - SBAB
11,02A,TUE,10:00-10:50 11:00-11:50,BZ-04-056 BZ-04-056,BB,30 30,Y 28/06/2024 - PM,S1286 - MR
12,02B,THU,12:00-12:50 13:00-13:50,BZ-04-056 BZ-04-056,BB,30 30,Y 28/06/2024 - PM,01919 - SBAB

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,12:00-12:50 13:00-13:50,BZ-01-121 BZ-01-121,LL,60 60,N,01868 - AFBZA
3,01A,TUE,12:00-12:50 13:00-13:50,BZ-02-059 BZ-02-059,BB,30 30,N,01868 - AFBZA
4,01B,TUE,08:00-08:50 09:00-09:50,BZ-04-056 BZ-04-056,BB,30 30,N,01868 - AFBZA
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,MON,08:00-08:50 09:00-09:50,BZ-02-105 BZ-02-105,LL,30 30,N,01868 - AFBZA
8,01A,FRI,08:00-08:50 09:00-09:50,BZ-04-056 BZ-04-056,BB,30 30,N,01868 - AFBZA
9,02,TUE,08:00-08:50 09:00-09:50,BZ-02-105 BZ-02-105,LL,60 60,N,01868 - AFBZA
10,02A,MON,14:00-14:50 15:00-15:50,BZ-04-056 BZ-04-056,BB,30 30,N,01868 - AFBZA
11,02B,MON,16:00-16:50 17:00-17:50,BZ-04-056 BZ-04-056,BB,30 30,N,01868 - AFBZA

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-02-096 BZ-02-096,LL,60 60,Y 31/01/2024 - PM,0153 - N@KBMN
3,01A,MON,10:00-10:50 11:00-11:50,BZ-03-069 BZ-03-069,BB,30 30,Y 31/01/2024 - PM,0153 - N@KBMN
4,01B,TUE,12:00-12:50 13:00-13:50,BZ-03-069 BZ-03-069,BB,30 30,Y 31/01/2024 - PM,0153 - N@KBMN
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,TUE,12:00-12:50 13:00-13:50,BZ-04-087 BZ-04-087,LL,30 30,Y 08/07/2024 - AM,0153 - N@KBMN
8,01A,WED,12:00-12:50 13:00-13:50,BZ-03-069 BZ-03-069,BB,30 30,Y 08/07/2024 - AM,0153 - N@KBMN
9,02,THU,12:00-12:50 13:00-13:50,BZ-04-087 BZ-04-087,LL,60 60,Y 08/07/2024 - AM,0153 - N@KBMN
10,02A,MON,12:00-12:50 13:00-13:50,BZ-03-069 BZ-03-069,BB,30 30,Y 08/07/2024 - AM,0153 - N@KBMN
11,02B,MON,08:00-08:50 09:00-09:50,BZ-03-069 BZ-03-069,BB,30 30,Y 08/07/2024 - AM,0153 - N@KBMN

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,60 60,Y 06/02/2024 - AM,01863 - WISBWD
3,01A,FRI,10:00-10:50 11:00-11:50,BZ-04-063 BZ-04-063,BB,30 30,Y 06/02/2024 - AM,01863 - WISBWD
4,01B,FRI,08:00-08:50 09:00-09:50,BZ-04-063 BZ-04-063,BB,30 30,Y 06/02/2024 - AM,01863 - WISBWD
5,02,TUE,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,60 60,Y 06/02/2024 - AM,01863 - WISBWD
6,02A,MON,16:00-16:50 17:00-17:50,BZ-04-063 BZ-04-063,BB,30 30,Y 06/02/2024 - AM,01863 - WISBWD
7,02B,MON,14:00-14:50 15:00-15:50,BZ-04-063 BZ-04-063,BB,30 30,Y 06/02/2024 - AM,01863 - WISBWD
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,MON,10:00-10:50 11:00-11:50,BZ-01-121 BZ-01-121,LL,60 60,Y 02/07/2024 - AM,01863 - WISBWD
11,01A,FRI,10:00-10:50 11:00-11:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,01863 - WISBWD
12,01B,FRI,08:00-08:50 09:00-09:50,BZ-04-063 BZ-04-063,BB,30 30,Y 02/07/2024 - AM,01863 - WISBWD

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,14:00-14:50,BZ-02-106,L,30,Y 31/01/2024 - AM,0198 - SBN
3,,TUE,08:00-08:50,BZ-02-059,L,30,,
4,01A,TUE,09:00-09:50 10:00-10:50,BZ-02-059 BZ-02-059,BB,30 30,Y 31/01/2024 - AM,0198 - SBN
5,02,MON,14:00-14:50,BZ-02-106,L,30,Y 31/01/2024 - AM,0198 - SBN
6,,WED,08:00-08:50,BZ-01-079,L,30,,
7,02A,WED,09:00-09:50 10:00-10:50,BZ-01-079 BZ-01-079,BB,30 30,Y 31/01/2024 - AM,0198 - SBN
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,WED,10:00-10:50,BZ-01-121,L,60,Y 03/07/2024 - PM,01863 - WISBWD
11,01A,TUE,14:00-14:50 15:00-15:50 16:00-16:50,BZ-01-079 BZ-01-079 BZ-01-079,BBB,30 30 30,Y 03/07/2024 - PM,01863 - WISBWD
12,01B,THU,15:00-15:50 16:00-16:50 17:00-17:50,BZ-01-079 BZ-01-079 BZ-01-079,BBB,30 30 30,Y 03/07/2024 - PM,01863 - WISBWD

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,50 50,Y 05/02/2024 - AM,01984 - SSBAH
3,01A,THU,12:00-12:50 13:00-13:50,BZ-03-093 BZ-03-093,BB,30 30,Y 05/02/2024 - AM,01984 - SSBAH
4,01B,THU,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,20 20,Y 05/02/2024 - AM,01984 - SSBAH
5,02,TUE,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,60 60,Y 05/02/2024 - AM,01984 - SSBAH
6,02A,WED,12:00-12:50 13:00-13:50,BZ-03-093 BZ-03-093,BB,30 30,Y 05/02/2024 - AM,01984 - SSBAH
7,02B,WED,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,Y 05/02/2024 - AM,01890 - NSBAR
8,03,WED,12:00-12:50 13:00-13:50,BZ-02-101 BZ-02-101,LL,41 41,Y 05/02/2024 - AM,01890 - NSBAR
9,03A,TUE,12:00-12:50 13:00-13:50,BZ-03-093 BZ-03-093,BB,27 27,Y 05/02/2024 - AM,01890 - NSBAR
10,03B,TUE,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,11 11,Y 05/02/2024 - AM,01890 - NSBAR
11,Semester II Academic Session 2023/2024,,,,,,,
12,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
13,01,THU,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,60 60,Y 09/07/2024 - AM,01984 - SSBAH
14,01A,MON,12:00-12:50 13:00-13:50,BZ-03-093 BZ-03-093,BB,30 30,Y 09/07/2024 - AM,01984 - SSBAH
15,01B,MON,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,Y 09/07/2024 - AM,01984 - SSBAH
16,02,WED,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,30 30,Y 09/07/2024 - AM,0543 - RBMS
17,02B,TUE,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,BB,30 30,Y 09/07/2024 - AM,01984 - SSBAH

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,60 60,Y 29/01/2024 - PM,0044 - RBAB
3,01A,TUE,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,BB,30 30,Y 29/01/2024 - PM,0044 - RBAB
4,01B,TUE,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,Y 29/01/2024 - PM,0044 - RBAB
5,02,THU,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,60 60,Y 29/01/2024 - PM,01453 - ABZ
6,02A,THU,14:00-14:50 15:00-15:50,BZ-02-090 BZ-02-090,BB,30 30,Y 29/01/2024 - PM,01453 - ABZ
7,02B,THU,16:00-16:50 17:00-17:50,BZ-02-090 BZ-02-090,BB,30 30,Y 29/01/2024 - PM,01453 - ABZ
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,MON,16:00-16:50 17:00-17:50,BZ-02-101 BZ-02-101,LL,60 60,Y 05/07/2024 - PM,01453 - ABZ
11,01A,WED,14:00-14:50 15:00-15:50,BZ-04-068 BZ-04-068,BB,30 30,Y 05/07/2024 - PM,01453 - ABZ
12,01B,MON,12:00-12:50 13:00-13:50,BZ-04-068 BZ-04-068,BB,30 30,Y 05/07/2024 - PM,01453 - ABZ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,16:00-16:50 17:00-17:50,BZ-02-100 BZ-02-100,LL,60 60,N,0543 - RBMS
3,01A,TUE,10:00-10:50 11:00-11:50,BZ-01-092 BZ-01-092,BB,30 30,N,0543 - RBMS
4,01B,THU,12:00-12:50 13:00-13:50,BZ-01-092 BZ-01-092,BB,30 30,N,0543 - RBMS
5,02,MON,10:00-10:50 11:00-11:50,BZ-04-087 BZ-04-087,LL,60 60,N,0025 - RBM
6,02A,FRI,10:00-10:50 11:00-11:50,BZ-03-076 BZ-03-076,BB,30 30,N,0025 - RBM
7,02B,FRI,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,N,0543 - RBMS
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,TUE,14:00-14:50 15:00-15:50,BZ-01-121 BZ-01-121,LL,60 60,N,0543 - RBMS
11,01A,WED,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,N,0543 - RBMS
12,01B,WED,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,30 30,N,0543 - RBMS

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-02-100 BZ-02-100,LL,32 32,Y 25/01/2024 - PM,01746 - MABI
3,01A,MON,08:00-08:50 09:00-09:50,BZ-03-083 BZ-03-083,BB,32 32,Y 25/01/2024 - PM,01746 - MABI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,60 60,Y 25/01/2024 - AM,01801 - KAM
3,01A,TUE,16:00-16:50 17:00-17:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,01801 - KAM
4,01B,TUE,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,01801 - KAM
5,02,THU,10:00-10:50 11:00-11:50,BZ-01-121 BZ-01-121,LL,60 60,Y 25/01/2024 - AM,01801 - KAM
6,02A,THU,16:00-16:50 17:00-17:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,01801 - KAM
7,02B,THU,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,01801 - KAM
8,03,MON,08:00-08:50 09:00-09:50,BZ-02-104 BZ-02-104,LL,60 60,Y 25/01/2024 - AM,0145 - WMSBWH
9,03A,FRI,08:00-08:50 09:00-09:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,0145 - WMSBWH
10,03B,FRI,10:00-10:50 11:00-11:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,0145 - WMSBWH
11,04,TUE,08:00-08:50 09:00-09:50,BZ-02-104 BZ-02-104,LL,60 60,Y 25/01/2024 - AM,0145 - WMSBWH
12,04A,MON,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,0145 - WMSBWH
13,04B,MON,16:00-16:50 17:00-17:50,BZ-04-077 BZ-04-077,BB,30 30,Y 25/01/2024 - AM,0145 - WMSBWH
14,Semester II Academic Session 2023/2024,,,,,,,
15,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
16,01,MON,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,60 60,Y 04/07/2024 - AM,0145 - WMSBWH
17,01A,FRI,08:00-08:50 09:00-09:50,BZ-04-077 BZ-04-077,BB,30 30,Y 04/07/2024 - AM,0145 - WMSBWH
18,01B,FRI,10:00-10:50 11:00-11:50,BZ-04-077 BZ-04-077,BB,30 30,Y 04/07/2024 - AM,0145 - WMSBWH
19,02,TUE,08:00-08:50 09:00-09:50,BZ-01-124 BZ-01-124,LL,30 30,Y 04/07/2024 - AM,0145 - WMSBWH
20,02A,MON,14:00-14:50 15:00-15:50,BZ-04-077 BZ-04-077,BB,30 30,Y 04/07/2024 - AM,0145 - WMSBWH

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,08A,THU,11:00-11:50 12:00-12:50,E10-F06A E10-F06A,BB,30 30,N,02052 - NSBMN
3,08B,THU,11:00-11:50 12:00-12:50,E10-F06A E10-F06A,BB,30 30,N,02052 - NSBMN
4,08P,WED,08:00-08:50 09:00-09:50,E20BT1 E20BT1,LL,40 40,N,02052 - NSBMN
5,09A,WED,10:00-10:50 11:00-11:50,E10-F06A E10-F06A,BB,20 20,N,02052 - NSBMN
6,09B,WED,10:00-10:50 11:00-11:50,E10-F06A E10-F06A,BB,20 20,N,02052 - NSBMN
7,09P,MON,10:00-10:50 11:00-11:50,E22BK6 E22BK6,LL,40 40,N,02052 - NSBMN
8,10A,THU,10:00-10:50 11:00-11:50,BZ-02-080 BZ-02-080,BB,30 30,N,S1287 - NAFBZ
9,10B,THU,10:00-10:50 11:00-11:50,BZ-02-080 BZ-02-080,BB,30 30,N,S1287 - NAFBZ
10,10P,TUE,10:00-10:50 11:00-11:50,BZ-02-100 BZ-02-100,LL,60 60,N,S1287 - NAFBZ
11,11A,WED,16:00-16:50 17:00-17:50,BZ-01-100 BZ-01-100,BB,30 30,N,01802 - AFBAN
12,11B,WED,16:00-16:50 17:00-17:50,BZ-01-100 BZ-01-100,BB,30 30,N,01802 - AFBAN
13,11P,MON,16:00-16:50 17:00-17:50,BZ-01-124 BZ-01-124,LL,60 60,N,01802 - AFBAN
14,Semester II Academic Session 2023/2024,,,,,,,
15,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
16,10A,THU,12:00-12:50 13:00-13:50,E00-F01 E00-F01,BB,30 30,N,FP0039 - NIHBMF
17,10B,THU,12:00-12:50 13:00-13:50,E00-F01 E00-F01,BB,30 30,N,FP0039 - NIHBMF
18,10P,TUE,12:00-12:50 13:00-13:50,E00-F01 E00-F01,LL,0 0 3,N,FP0039 - NIHBMF
19,11A,WED,16:00-16:50 17:00-17:50,BZ-01-100 BZ-01-100,BB,0 30,N,FP0041 - ABI
20,11B,WED,16:00-16:50 17:00-17:50,BZ-01-100 BZ-01-100,BB,30 30,N,FP0041 - ABI
21,11P,MON,16:00-16:50 17:00-17:50,FKP-F-DK-01 FKP-F-DK-01,LL,60 60,N,FP0041 - ABI
22,14A,WED,14:00-14:50 15:00-15:50,BZ-03-083 BZ-03-083,BB,30 30,N,0027 - ZBM
23,14P,MON,14:00-14:50 15:00-15:50,BZ-01-107 BZ-01-107,LL,30 30,N,0053 - TABAK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,30 30,Y,2623 - MAK
3,01A,TUE,12:00-12:50 13:00-13:50,BZ-02-080 BZ-02-080,BB,30 30,Y,2623 - MAK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,90 90,N,01988 - NFBMR
3,01A,TUE,16:00-16:50 17:00-17:50,BZ-01-107 BZ-01-107,BB,30 30,N,01988 - NFBMR
4,01B,TUE,14:00-14:50 15:00-15:50,BZ-01-107 BZ-01-107,BB,30 30,N,2309 - FE
5,01C,THU,14:00-14:50 15:00-15:50,BZ-01-107 BZ-01-107,BB,30 30,N,2309 - FE
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,THU,08:00-08:50 09:00-09:50,BZ-02-104 BZ-02-104,LL,90 90,N,01988 - NFBMR
9,01A,THU,16:00-16:50 17:00-17:50,BZ-01-107 BZ-01-107,BB,30 30,N,01988 - NFBMR
10,01B,THU,14:00-14:50 15:00-15:50,BZ-01-107 BZ-01-107,BB,30 30,N,01988 - NFBMR
11,01C,TUE,14:00-14:50 15:00-15:50,BZ-01-107 BZ-01-107,BB,30 30,N,01988 - NFBMR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L L,30 30 30 30 30 30 30 30 30 30,N,01933 - MIBMJ
3,Semester II Academic Session 2023/2024,,,,,,,
4,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
5,01,MON,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L L,30 30 30 30 30 30 30 30 30 30,N,01933 - MIBMJ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L L,30 30 30 30 30 30 30 30 30 30,N,01923 - ABZ
3,Semester II Academic Session 2023/2024,,,,,,,
4,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
5,01,TUE,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L,30 30 30 30 30 30 30 30 30,N,01923 - ABZ

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,16:00-16:50 17:00-17:50,BZ-04-068 BZ-04-068,LL,30 30,N,01891 - AFBMR
3,01A,THU,10:00-10:50 11:00-11:50,BZ-04-068 BZ-04-068,BB,30 30,N,01891 - AFBMR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,08:00-08:50 09:00-09:50,BZ-04-085 BZ-04-085,LL,30 30,N,01988 - NFBMR
3,01A,THU,14:00-14:50 15:00-15:50,BZ-04-085 BZ-04-085,BB,30 30,N,01988 - NFBMR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,14:00-14:50 15:00-15:50,BZ-02-106 BZ-02-106,LL,60 60,N,0053 - TABAK
3,01A,MON,08:00-08:50 09:00-09:50,BZ-01-066 BZ-01-066,BB,30 30,N,0053 - TABAK
4,01B,MON,10:00-10:50 11:00-11:50,BZ-01-066 BZ-01-066,BB,30 30,N,0053 - TABAK
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,THU,14:00-14:50 15:00-15:50,BZ-02-105 BZ-02-105,LL,60 60,N,0053 - TABAK
8,01A,THU,08:00-08:50 09:00-09:50,BZ-01-066 BZ-01-066,BB,30 30,N,0053 - TABAK
9,01B,THU,10:00-10:50 11:00-11:50,BZ-01-066 BZ-01-066,BB,30 30,N,0053 - TABAK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50,BZ-02-049 BZ-02-049,LL,30 30,N,01444 - ASBL
3,01A,TUE,14:00-14:50 15:00-15:50,BZ-02-049 BZ-02-049,BB,30 30,N,01444 - ASBL
4,02,THU,08:00-08:50 09:00-09:50,BZ-02-049 BZ-02-049,LL,30 30,N,01444 - ASBL
5,02A,THU,14:00-14:50 15:00-15:50,BZ-02-049 BZ-02-049,BB,30 30,N,01444 - ASBL
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,TUE,14:00-14:50 15:00-15:50,BZ-03-051 BZ-03-051,LL,30 30,N,01444 - ASBL
9,01A,TUE,16:00-16:50 17:00-17:50,BZ-03-051 BZ-03-051,BB,30 30,N,01444 - ASBL
10,02,THU,14:00-14:50 15:00-15:50,BZ-03-051 BZ-03-051,LL,30 30,N,01444 - ASBL
11,02A,THU,16:00-16:50 17:00-17:50,BZ-03-051 BZ-03-051,BB,30 30,N,01444 - ASBL

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,12:00-12:50 13:00-13:50,BZ-02-105 BZ-02-105,LL,60 60,Y 01/02/2024 - AM,2309 - FE
3,01A,MON,12:00-12:50 13:00-13:50,BZ-01-066 BZ-01-066,BB,30 30,Y 01/02/2024 - AM,2309 - FE
4,01C,WED,08:00-08:50 09:00-09:50,BZ-01-066 BZ-01-066,BB,30 30,Y 01/02/2024 - AM,2309 - FE
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,THU,08:00-08:50 09:00-09:50,BZ-02-105 BZ-02-105,LL,60 60,Y 08/07/2024 - PM,2309 - FE
8,01A,THU,14:00-14:50 15:00-15:50,BZ-01-066 BZ-01-066,BB,30 30,Y 08/07/2024 - PM,2309 - FE
9,01B,THU,16:00-16:50 17:00-17:50,BZ-01-066 BZ-01-066,BB,30 30,Y 08/07/2024 - PM,2309 - FE

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,14:00-14:50 15:00-15:50,BZ-03-051 BZ-03-051,LL,30 30,N,0881 - BBY
3,01A,TUE,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,BB,30 30,N,0881 - BBY
4,02,TUE,14:00-14:50 15:00-15:50,BZ-03-060 BZ-03-060,LL,30 30,N,0881 - BBY
5,02A,WED,08:00-08:50 09:00-09:50,BZ-03-060 BZ-03-060,BB,30 30,N,0881 - BBY
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,TUE,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,LL,30 30,N,0881 - BBY
9,01A,TUE,10:00-10:50 11:00-11:50,BZ-03-051 BZ-03-051,BB,30 30,N,0881 - BBY
10,02,WED,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,LL,30 30,N,0881 - BBY
11,02A,WED,10:00-10:50 11:00-11:50,BZ-03-051 BZ-03-051,BB,30 30,N,0881 - BBY

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,14:00-14:50 15:00-15:50,BZ-02-104 BZ-02-104,LL,90 90,N,0064 - ABA
3,01A,TUE,08:00-08:50 09:00-09:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA
4,01B,TUE,10:00-10:50 11:00-11:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA
5,01C,FRI,08:00-08:50 09:00-09:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,TUE,10:00-10:50 11:00-11:50,BZ-02-104 BZ-02-104,LL,90 90,N,0064 - ABA
9,01A,MON,16:00-16:50 17:00-17:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA
10,01B,MON,10:00-10:50 11:00-11:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA
11,01C,TUE,08:00-08:50 09:00-09:50,BZ-02-049 BZ-02-049,BB,30 30,N,0064 - ABA

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,12:00-12:50 13:00-13:50,BZ-02-105 BZ-02-105,LL,90 90,N,01511 - RBM
3,01A,WED,12:00-12:50 13:00-13:50,BZ-03-051 BZ-03-051,BB,30 30,N,01511 - RBM
4,01B,WED,08:00-08:50 09:00-09:50,BZ-03-051 BZ-03-051,BB,30 30,N,01511 - RBM
5,01C,MON,12:00-12:50 13:00-13:50,BZ-03-051 BZ-03-051,BB,30 30,N,01511 - RBM
6,Semester II Academic Session 2023/2024,,,,,,,
7,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
8,01,TUE,12:00-12:50 13:00-13:50,BZ-02-104 BZ-02-104,LL,90 90,N,01511 - RBM
9,01A,WED,12:00-12:50 13:00-13:50,BZ-02-050 BZ-02-050,BB,30 30,N,01511 - RBM
10,01B,WED,08:00-08:50 09:00-09:50,BZ-02-050 BZ-02-050,BB,30 30,N,01511 - RBM
11,01C,THU,12:00-12:50 13:00-13:50,BZ-02-050 BZ-02-050,BB,30 30,N,01511 - RBM

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,08:00-08:50 09:00-09:50,BZ-04-087 BZ-04-087,LL,30 30,Y 31/01/2024 - AM,01919 - SBAB
3,01A,FRI,08:00-08:50 09:00-09:50,BZ-02-062 BZ-02-062,BB,30 30,Y 31/01/2024 - AM,01919 - SBAB
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,MON,12:00-12:50 13:00-13:50,BZ-04-087 BZ-04-087,LL,30 30,Y 02/07/2024 - PM,01679 - SFBK
7,01A,THU,12:00-12:50 13:00-13:50,BZ-02-062 BZ-02-062,BB,30 30,Y 02/07/2024 - PM,01679 - SFBK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-04-087 BZ-04-087,LL,60 60,N,0595 - ASBF
3,01A,MON,10:00-10:50 11:00-11:50,BZ-04-063 BZ-04-063,BB,30 30,N,0595 - ASBF
4,01B,TUE,12:00-12:50 13:00-13:50,BZ-04-063 BZ-04-063,BB,30 30,N,0595 - ASBF
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,TUE,14:00-14:50 15:00-15:50,BZ-04-087 BZ-04-087,LL,30 30,N,0595 - ASBF
8,01A,THU,10:00-10:50 11:00-11:50,BZ-02-090 BZ-02-090,BB,30 30,N,0595 - ASBF

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L L,30 30 30 30 30 30 30 30 30 30,N,01923 - ABZ
3,Semester II Academic Session 2023/2024,,,,,,,
4,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
5,01,WED,08:00-08:50 09:00-09:50 10:00-10:50 11:00-11:5...,BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-074 BZ-01-...,L L L L L L L L L L,30 30 30 30 30 30 30 30 30 30,N,01923 - ABZ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,08:00-08:50 09:00-09:50,BZ-02-101 BZ-02-101,LL,30 30,Y 29/01/2024 - AM,0025 - RBM
3,01A,THU,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,TT,30 30,Y 29/01/2024 - AM,0025 - RBM

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,14:00-14:50 15:00-15:50,BZ-02-101 BZ-02-101,LL,30 30,Y 26/01/2024 - PM,0867 - KBAR
3,01A,WED,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 26/01/2024 - PM,0867 - KBAR
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,WED,10:00-10:50 11:00-11:50,BZ-01-124 BZ-01-124,LL,30 30,Y 27/06/2024 - PM,02016 - AMBJ
7,01A,MON,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,Y 27/06/2024 - PM,02016 - AMBJ

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,60 60,Y 07/02/2024 - AM,0159 - NBMA
3,01A,TUE,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 07/02/2024 - AM,0159 - NBMA
4,01B,TUE,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 07/02/2024 - AM,0159 - NBMA
5,02,THU,12:00-12:50 13:00-13:50,BZ-01-124 BZ-01-124,LL,60 60,Y 07/02/2024 - AM,0159 - NBMA
6,02A,MON,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 07/02/2024 - AM,01890 - NSBAR
7,02B,MON,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 07/02/2024 - AM,0159 - NBMA
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,WED,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,60 60,Y 26/06/2024 - PM,0159 - NBMA
11,01A,TUE,12:00-12:50 13:00-13:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,0159 - NBMA
12,01B,TUE,08:00-08:50 09:00-09:50,BZ-03-076 BZ-03-076,BB,30 30,Y 26/06/2024 - PM,0159 - NBMA
13,02,THU,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,60 60,Y 26/06/2024 - PM,0159 - NBMA
14,02A,MON,12:00-12:50 13:00-13:50,BZ-02-090 BZ-02-090,BB,30 30,Y 26/06/2024 - PM,0159 - NBMA
15,02B,MON,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,Y 26/06/2024 - PM,01985 - M'BM
16,03,MON,12:00-12:50 13:00-13:50,BZ-02-101 BZ-02-101,LL,60 60,Y 26/06/2024 - PM,01890 - NSBAR
17,03A,THU,12:00-12:50 13:00-13:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,01890 - NSBAR
18,03B,THU,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,01890 - NSBAR
19,04,TUE,12:00-12:50 13:00-13:50,BZ-02-101 BZ-02-101,LL,60 60,Y 26/06/2024 - PM,01890 - NSBAR
20,04A,WED,12:00-12:50 13:00-13:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,FP0038 - KAG
21,04B,WED,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,FP0038 - KAG
22,05,MON,08:00-08:50 09:00-09:50,BZ-02-101 BZ-02-101,LL,60 60,Y 26/06/2024 - PM,FP0038 - KAG
23,05A,FRI,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,FP0038 - KAG
24,05B,FRI,10:00-10:50 11:00-11:50,BZ-01-092 BZ-01-092,BB,30 30,Y 26/06/2024 - PM,FP0038 - KAG

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,N,01449 - MZTBA@TCL
3,01A,MON,16:00-16:50 17:00-17:50,BZ-01-092 BZ-01-092,BB,30 30,N,01449 - MZTBA@TCL
4,01B,MON,14:00-14:50 15:00-15:50,BZ-01-092 BZ-01-092,BB,30 30,N,01449 - MZTBA@TCL
5,02,MON,08:00-08:50 09:00-09:50,BZ-02-100 BZ-02-100,LL,30 30,N,01443 - MIBUO
6,02A,FRI,08:00-08:50 09:00-09:50,BZ-01-092 BZ-01-092,BB,30 30,N,01449 - MZTBA@TCL
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,TUE,10:00-10:50 11:00-11:50,BZ-02-105 BZ-02-105,LL,60 60,N,01449 - MZTBA@TCL
10,01A,MON,16:00-16:50 17:00-17:50,BZ-01-092 BZ-01-092,BB,30 30,N,01449 - MZTBA@TCL
11,01B,MON,14:00-14:50 15:00-15:50,BZ-01-092 BZ-01-092,BB,30 30,N,01449 - MZTBA@TCL
12,02,MON,08:00-08:50 09:00-09:50,BZ-02-100 BZ-02-100,LL,30 30,N,01449 - MZTBA@TCL
13,02A,FRI,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,N,01449 - MZTBA@TCL

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,10:00-10:50 11:00-11:50,BZ-05-027 BZ-05-027,LL,60 60,N,0043 - MBAM
3,01A,FRI,10:00-10:50 11:00-11:50,BZ-03-093 BZ-03-093,BB,30 30,N,0043 - MBAM
4,01B,FRI,08:00-08:50 09:00-09:50,BZ-03-093 BZ-03-093,BB,30 30,N,0043 - MBAM
5,02,TUE,08:00-08:50 09:00-09:50,BZ-05-027 BZ-05-027,LL,60 60,N,0121 - JBS
6,02A,MON,14:00-14:50 15:00-15:50,BZ-03-093 BZ-03-093,BB,30 30,N,0121 - JBS
7,02B,MON,16:00-16:50 17:00-17:50,BZ-03-093 BZ-03-093,BB,30 30,N,0043 - MBAM
8,Semester II Academic Session 2023/2024,,,,,,,
9,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
10,01,MON,10:00-10:50 11:00-11:50,BZ-05-027 BZ-05-027,LL,60 60,N,0019 - ABK
11,01A,FRI,10:00-10:50 11:00-11:50,BZ-05-027 BZ-05-027,BB,60 60,N,0019 - ABK

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,08:00-08:50 09:00-09:50,BZ-02-096 BZ-02-096,LL,30 30,Y 07/02/2024 - PM,01770 - ABMA
3,01A,MON,14:00-14:50 15:00-15:50,BZ-03-076 BZ-03-076,BB,30 30,Y 07/02/2024 - PM,01770 - ABMA
4,02,THU,12:00-12:50 13:00-13:50,BZ-02-096 BZ-02-096,LL,60 60,Y 07/02/2024 - PM,01147 - KSBKI
5,02A,MON,12:00-12:50 13:00-13:50,BZ-02-090 BZ-02-090,BB,30 30,Y 07/02/2024 - PM,01770 - ABMA
6,02B,MON,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,Y 07/02/2024 - PM,01147 - KSBKI
7,Semester II Academic Session 2023/2024,,,,,,,
8,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
9,01,MON,12:00-12:50 13:00-13:50,BZ-02-104 BZ-02-104,LL,60 60,Y 05/07/2024 - AM,0121 - JBS
10,01A,THU,12:00-12:50 13:00-13:50,BZ-02-090 BZ-02-090,BB,30 30,Y 05/07/2024 - AM,0121 - JBS
11,01B,THU,08:00-08:50 09:00-09:50,BZ-02-090 BZ-02-090,BB,30 30,Y 05/07/2024 - AM,0121 - JBS

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,10:00-10:50 11:00-11:50,BZ-02-106 BZ-02-106,LL,60 60,N,01443 - MIBUO
3,01A,TUE,16:00-16:50 17:00-17:50,BZ-03-076 BZ-03-076,BB,30 30,N,01443 - MIBUO
4,01B,TUE,14:00-14:50 15:00-15:50,BZ-03-076 BZ-03-076,BB,30 30,N,01443 - MIBUO
5,Semester II Academic Session 2023/2024,,,,,,,
6,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
7,01,WED,10:00-10:50 11:00-11:50,BZ-02-100 BZ-02-100,LL,30 30,N,01443 - MIBUO
8,01A,TUE,16:00-16:50 17:00-17:50,BZ-04-068 BZ-04-068,BB,30 30,N,01443 - MIBUO

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,16:00-16:50 17:00-17:50,BZ-02-106 BZ-02-106,LL,60 60,N,01891 - AFBMR
3,01A,THU,10:00-10:50 11:00-11:50,BZ-01-092 BZ-01-092,BB,30 30,N,01891 - AFBMR
4,01B,MON,12:00-12:50 13:00-13:50,BZ-01-092 BZ-01-092,BB,30 30,N,01891 - AFBMR

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,08:00-08:50 09:00-09:50,BZ-02-101 BZ-02-101,LL,30 30,Y 01/07/2024 - PM,01900 - MFBAR
3,01A,THU,14:00-14:50 15:00-15:50,BZ-03-064 BZ-03-064,BB,30 30,Y 01/07/2024 - PM,01900 - MFBAR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,WED,10:00-10:50 11:00-11:50,BZ-01-121 BZ-01-121,LL,2 2,Y 30/01/2024 - AM,01309 - WNBWM
3,01A,TUE,16:00-16:50 17:00-17:50,BZ-03-064 BZ-03-064,BB,2 2,Y 30/01/2024 - AM,01309 - WNBWM
4,Semester II Academic Session 2023/2024,,,,,,,
5,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
6,01,FRI,08:00-08:50 09:00-09:50,BZ-02-106 BZ-02-106,LL,10 10,Y 28/06/2024 - AM,01982 - ZBI
7,01A,MON,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,10 10,Y 28/06/2024 - AM,01982 - ZBI

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,14:00-14:50 15:00-15:50,BZ-02-101 BZ-02-101,LL,30 30,Y 07/02/2024 - AM,01900 - MFBAR
3,01A,TUE,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 07/02/2024 - AM,01900 - MFBAR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,MON,08:00-08:50 09:00-09:50,BZ-02-105 BZ-02-105,LL,60 60,Y 01/02/2024 - AM,01982 - ZBI
3,01A,FRI,08:00-08:50 09:00-09:50,BZ-03-069 BZ-03-069,BB,30 30,Y 01/02/2024 - AM,01982 - ZBI
4,01C,MON,14:00-14:50 15:00-15:50,BZ-03-069 BZ-03-069,BB,30 30,Y 01/02/2024 - AM,01982 - ZBI

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,FRI,10:00-10:50 11:00-11:50,BZ-02-101 BZ-02-101,LL,30 30,Y 08/07/2024 - PM,01900 - MFBAR
3,01A,TUE,16:00-16:50 17:00-17:50,BZ-03-064 BZ-03-064,BB,30 30,Y 08/07/2024 - PM,01900 - MFBAR

,0,1,2,3,4,5,6,7
0,Semester I Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,THU,14:00-14:50 15:00-15:50,BZ-02-105 BZ-02-105,LL,90 90,Y 02/02/2024 - AM,01898 - SBIH
3,01A,WED,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 02/02/2024 - AM,01898 - SBIH
4,01C,THU,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 02/02/2024 - AM,01898 - SBIH
5,01D,THU,10:00-10:50 11:00-11:50,BZ-03-064 BZ-03-064,BB,30 30,Y 02/02/2024 - AM,01868 - AFBZA
6,02,THU,14:00-14:50 15:00-15:50,BZ-02-105 BZ-02-105,LL,30 30,Y 02/02/2024 - AM,01898 - SBIH
7,02A,WED,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 02/02/2024 - AM,01898 - SBIH

,0,1,2,3,4,5,6,7
0,Semester II Academic Session 2023/2024,,,,,,,
1,Sec,Day,Time,Loc,Mode,Cap,Exam,Staff
2,01,TUE,12:00-12:50 13:00-13:50,BZ-02-105 BZ-02-105,LL,60 60,Y 04/07/2024 - PM,01982 - ZBI
3,01B,THU,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 04/07/2024 - PM,01982 - ZBI
4,01C,WED,08:00-08:50 09:00-09:50,BZ-03-064 BZ-03-064,BB,30 30,Y 04/07/2024 - PM,01982 - ZBI
5,02,TUE,12:00-12:50 13:00-13:50,BZ-02-105 BZ-02-105,LL,30 30,Y 04/07/2024 - PM,01982 - ZBI
6,02A,THU,12:00-12:50 13:00-13:50,BZ-03-064 BZ-03-064,BB,30 30,Y 04/07/2024 - PM,01982 - ZBI

In [ ]:
import pdfplumber
import re

with pdfplumber.open("COURSE_CATALOG_IJA.pdf") as pdf:
    extracted_text = ''

    for page in pdf.pages:
        text = page.extract_text()
        extracted_text += text

extracted_text = extracted_text \
    .replace("\n", " ") \
    .replace("03-OCT-23 11:09 AM", "") \
    .replace("Pre-Requisite : NO ", "") \
    .replace("Remarks : NO ", "") \
    .replace("Level : DEGREE ", "") \
    .replace("COURSE TIMETABLE ", "") \
    .replace("Academic Session 2023/2024 ", "") \
    .replace("Sec Day Time Loc Mode Cap Exam Staff ", "")

extracted_text = re.sub(r'Couse Synopsis : .*?Campus', 'Campus', extracted_text, flags=re.DOTALL)
extracted_text

In [ ]:
pattern = r"Semester (I|II)(?= Course Code : ([A-Z]{3}\d{4})[\s\S]+?Course Name : (.+?)\d)"
matches = re.findall(pattern, extracted_text)

for i, match in enumerate(matches):
    print(f"{i + 1}. Course Code: {match[1]}")
    print(f"Course Name: {match[2]}")
    print(f"Semester Offered: {match[0]}")
    print()